/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - BP Typography & Imagery

2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination

3.0 - BP Lists / Loops Generic
	3.1 - Activity Loop
		3.1.1 Whats New Activity
		3.1.2 - Activity Listing
		3.1.3 - Activity Comments
	3.2 - Members Loop
	3.3 - Groups Loop
	3.4 - Blogs Loop

4.0 - Directories - Members, Groups, Blogs, Register, activation

5.0 - Single Item screens: User Account & Single Group Screens
	5.1 - Item Headers: Global
		5.1.1 - item-header: Groups
		5.1.2 - item-header: User Accounts
	5.2 - Item Body: Global
		5.2.1 - item-body: Groups
			5.2.1.1 - Management settings screens
			5.2.1.2 - Group members list
		5.2.2 - item-body: User Accounts
			5.2.2.1 - classes, pag, filters
			5.2.2.2 - Extended Profiles
			5.2.2.3 - Groups
			5.2.2.4 - friends
			5.2.2.5 - Private Messaging Threads
			5.2.2.6 - Settings

6.0 - Forms  -  General

7.0 - Tables -  General

8.0 - Classes - Messages, Ajax, Widgets

--------------------------------------------------------------*/
/**
*-------------------------------------------------------------------------------
* @section 1.0 - BP Typography & Imagery
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/
.buddypress .pagination {
	background: transparent;
	border: 0;
	color: #999;
	float: left;
	font-size: small;
	margin: 0;
	padding: 0.5em 0;
	position: relative;
	width: 100%;
}

.buddypress .pagination .pag-count {
	float: left;
	margin-left: 10px;
}

.buddypress .pagination .pagination-links {
	float: right;
	margin-right: 10px;
}

.buddypress .pagination .pagination-links span,
.buddypress .pagination .pagination-links a {
	font-size: small;
	opacity: 0.9;
	padding: 0 5px;
}

.buddypress .pagination .pagination-links a:focus,
.buddypress .pagination .pagination-links a:hover {
	opacity: 1;
}

/**
*-------------------------------------------------------------------------------
* @section 3.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/
/*
* This commet arrives via the scss partial bp_lists
*/
/**
*----------------------------------------------------------
* @section 3.1 - Activity Loop
*----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 3.1.1 - Activity Whats New
*-----------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 3.1.2 - Activity Listing
*-----------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 3.1.3 - Activity Comments
*-----------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 4.2 - Blogs Loop
*----------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 4.2 - Groups Loop
*----------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 4.2 - Members Loop
*----------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 4.0 - Directories
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 5.0 - Single Item screens: Groups, Users
*-------------------------------------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection 5.1 - Item Header Global
*-----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @subsection 5.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/
/**
*-----------------------------------------------------
* @subsection 5.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection 5.2 - Item Body: Global
*-----------------------------------------------------------
*/
/**
*----------------------------------------------------
* @subsection 5.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/
/**
*-----------------------------------------
* @subsection 5.2.1.1 - Group Management
*-----------------------------------------
*/
/**
*-----------------------------------------
* @subsection 5.2.1.2 - Group members
*-----------------------------------------
*/
/**
*-----------------------------------------------------
* @subsection 5.2.2 - Item Body User Accounts
*
* User Account specific item body rules
*-----------------------------------------------------
*/
/**
*--------------------------------------------
* @subsection 5.2.2.1 - classes, pag, filters
*--------------------------------------------
*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.3 - Groups
	*-------------------------------------------
	*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.5 - Private Messaging
	*-------------------------------------------
	*/
/**
	*------------------------------------------
	* @subsection 5.2.2.6 - Settings
	*------------------------------------------
	*/
/**
*-------------------------------------------------------------------------------
* @section 6.0 - Forms  - General
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 7.0 - Tables - General
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 8.0 - Classes - Messages, Ajax, Widgets
*-------------------------------------------------------------------------------
*/
