/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - BP Typography & Imagery

2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination

3.0 - BP Lists / Loops Generic
	3.1 - Activity Loop
		3.1.1 Whats New Activity
		3.1.2 - Activity Entries
		3.1.3 - Activity Comments
	3.2 - Members Loop
	3.3 - Groups Loop
	3.4 - Blogs Loop

4.0 - Directories - Members, Groups, Blogs, Register, activation

5.0 - Single Item screens: User Account & Single Group Screens
	5.1 - Item Headers: Global
		5.1.1 - item-header: Groups
		5.1.2 - item-header: User Accounts
	5.2 - Item Body: Global
		5.2.1 - item-body: Groups
			5.2.1.1 - Management settings screens
			5.2.1.2 - Group members list
		5.2.2 - item-body: User Accounts
			5.2.2.1 - classes, pag, filters
			5.2.2.2 - Extended Profiles
			5.2.2.3 - Groups
			5.2.2.4 - friends
			5.2.2.5 - Private Messaging Threads
			5.2.2.6 - Settings

6.0 - Forms  -  General
	6.1 - Dir Search

7.0 - Tables -  General

8.0 - Classes - Messages, Ajax, Widgets

--------------------------------------------------------------*/
/**
*-------------------------------------------------------------------------------
* @section 1.0 - BP Typography & Imagery
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/
.buddypress .pagination {
	background: transparent;
	border: 0;
	color: #999;
	float: left;
	font-size: small;
	margin: 0;
	padding: 0.5em 0;
	position: relative;
	width: 100%;
}

.buddypress .pagination .pag-count {
	float: left;
	margin-left: 10px;
}

.buddypress .pagination .pagination-links {
	float: right;
	margin-right: 10px;
}

.buddypress .pagination .pagination-links span,
.buddypress .pagination .pagination-links a {
	font-size: small;
	opacity: 0.9;
	padding: 0 5px;
}

.buddypress .pagination .pagination-links a:focus,
.buddypress .pagination .pagination-links a:hover {
	opacity: 1;
}

.buddypress .pagination p {
	margin: 0;
}

/**
*-------------------------------------------------------------------------------
* @section 3.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/
/*
* This commet arrives via the scss partial bp_lists
*/
.buddypress .bp-list {
	list-style: none;
}

/**
*----------------------------------------------------------
* @section 3.1 - Activity Loop
*----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 3.1.1 - Activity Whats New
*-----------------------------------------------------
*/
.item-body .activity-update-form .activity-form {
	margin: 0;
	padding: 0;
}

.activity-update-form .activity-form p.activity-greeting {
	line-height: 0.5em;
	margin-bottom: 15px;
	margin-left: 75px;
}

.activity-update-form .user-avatar {
	float: left;
}

.activity-update-form .content-wrap {
	margin-left: 55px;
	padding: 0 0 20px 20px;
}

.activity-update-form .textarea-wrap textarea {
	background: #fff;
	-webkit-box-sizing: "border-box";
	-moz-box-sizing: "border-box";
	box-sizing: "border-box";
	color: #333;
	font-family: inherit;
	font-size: medium;
	height: 2.2em;
	line-height: 1.4;
	padding: 1em;
	width: 100%;
}

/**
*-----------------------------------------------------
* @section 3.1.2 - Activity Entries
*-----------------------------------------------------
*/
.activity-list .activity-item {
	list-style: none;
	overflow: hidden;
	padding: 1em 0 0;
}

.activity-list .activity-item.has-comments {
	padding-bottom: 1em;
}

.activity-list .activity-item.mini {
	font-size: 80%;
	position: relative;
}

.activity-list .activity-item.mini .activity-avatar img.avatar,
.activity-list .activity-item.mini .activity-avatar img.FB_profile_pic {
	height: 20px;
	margin-left: 30px;
	width: 20px;
}

.activity-list .activity-item.new_forum_post .activity-inner, .activity-list .activity-item.new_forum_topic .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 10px;
	padding-left: 1em;
}

.activity-list .activity-item.load-more, .activity-list .activity-item.load-newest {
	background: #f0f0f0;
	font-size: 110%;
	margin: 15px 0;
	padding: 10px 15px;
	text-align: center;
}

.activity-list .activity-item.load-more a, .activity-list .activity-item.load-newest a {
	color: #4d4d4d;
}

.activity-list .activity-item.newest_mentions_activity, .activity-list .activity-item.newest_friends_activity, .activity-list .activity-item.newest_groups_activity, .activity-list .activity-item.newest_blogs_activity {
	background: rgba(31, 179, 221, 0.1);
}

.activity-list .activity-item .activity-inreplyto {
	color: #888;
	font-size: 80%;
}

.activity-list .activity-item .activity-inreplyto > p {
	display: inline;
	margin: 0;
}

.activity-list .activity-item .activity-inreplyto blockquote,
.activity-list .activity-item .activity-inreplyto .activity-inner {
	background: none;
	border: 0;
	display: inline;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.activity-list .activity-item .activity-avatar {
	float: left;
}

.activity-list .activity-item img.avatar {
	margin: 0 -5px 0;
}

.activity-list .activity-item .activity-header {
	margin-right: 15px;
}

.activity-list .activity-item .activity-header a.activity-time-since {
	color: #aaa;
	text-decoration: none;
}

.activity-list .activity-item .activity-header a.activity-time-since:hover {
	color: #888;
	text-decoration: underline;
}

.activity-list .activity-item .activity-content {
	margin: 0 0 0 70px;
	position: relative;
}

.activity-list .activity-item .activity-content .activity-header,
.activity-list .activity-item .activity-content .comment-header {
	color: #888;
	line-height: 220%;
}

.activity-list .activity-item .activity-content .activity-inner,
.activity-list .activity-item .activity-content blockquote {
	margin: 15px 15px 10px 0;
	overflow: hidden;
}

.activity-list .activity-item .activity-content p {
	margin: 0;
}

.activity-list .activity-item .activity-inner p {
	word-wrap: break-word;
}

.activity-list .activity-item .activity-read-more {
	margin-left: 1em;
	white-space: nowrap;
}

.activity-list .activity-item .activity-meta a {
	padding: 4px 8px;
}

.activity-list .activity-item .activity-meta .button:before {
	font-family: dashicons;
	font-size: 18px;
	vertical-align: bottom;
}

.activity-list .activity-item .activity-meta a.acomment-reply:before {
	content: "\f101";
}

.activity-list .activity-item .activity-meta a.fav:before {
	content: "\f154";
}

.activity-list .activity-item .activity-meta a.unfav:before {
	content: "\f155";
}

.activity-list .activity-item .activity-meta a.delete-activity:before {
	content: "\f153";
}

.activity-list .activity-item .activity-meta a.delete-activity:hover {
	color: #800;
}

.activity-list .activity-item .activity-meta .button span {
	background: none;
	color: #555;
	font-weight: bold;
}

body.activity-permalink .activity-list li {
	border-width: 1px;
	padding: 1em 0 0 0;
}

body.activity-permalink .activity-list li:first-child {
	padding-top: 0;
}

body.activity-permalink .activity-list li.has-comments {
	padding-bottom: 0;
}

body.activity-permalink .activity-list li.mini img.avatar,
body.activity-permalink .activity-list li.mini img.FB_profile_pic {
	height: auto;
	margin-left: 0;
	width: auto;
}

body.activity-permalink .activity-list .activity-header {
	margin: 0;
	padding: 0.5em 0 0 0;
}

body.activity-permalink .activity-list .activity-content {
	border: 0;
	font-size: 100%;
	line-height: 150%;
	margin-left: 170px;
	margin-right: 0;
	padding: 0;
}

body.activity-permalink .activity-list .activity-content .activity-inner,
body.activity-permalink .activity-list .activity-content blockquote {
	margin-left: 0;
	margin-top: 10px;
}

body.activity-permalink .activity-list .activity-meta {
	margin: 10px 0 10px;
}

/**
*-----------------------------------------------------
* @section 3.1.3 - Activity Comments
*-----------------------------------------------------
*/
.activity-comments {
	clear: both;
	margin: 0 0 0 20px;
	overflow: hidden;
	position: relative;
	width: auto;
}

.activity-comments ul {
	clear: both;
	margin: 0;
	padding: 0 0 0 1em;
}

.activity-comments ul li {
	border-top: 1px solid #eee;
	padding: 1em 0 0;
}

.activity-comments ul li:first-child {
	border-top: 0;
}

.activity-comments ul li:last-child {
	margin-bottom: 0;
}

.activity-comments .acomment-avatar img {
	border-width: 1px;
	float: left;
	height: 25px;
	margin-right: 10px;
	width: 25px;
}

.activity-comments .acomment-options {
	float: left;
	margin: 10px 0 10px 20px;
}

.activity-comments .acomment-options a {
	color: #999;
}

.activity-comments .acomment-options a:focus, .activity-comments .acomment-options a:hover {
	color: inherit;
}

.mini .activity-comments {
	clear: both;
	font-size: 120%;
	margin-top: 0;
}

body.activity-permalink .activity-comments {
	background: none;
	width: auto;
}

body.activity-permalink .activity-comments > ul {
	padding: 0 0.5em 0 1em;
}

body.activity-permalink .activity-comments ul li > ul {
	margin-top: 10px;
}

form.ac-form {
	display: none;
	padding: 1em;
}

form.ac-form .ac-reply-content .ac-textarea {
	background: #fff;
	border: 1px inset #ccc;
	margin-bottom: 15px;
	padding: 0.5em;
}

form.ac-form .ac-reply-content .ac-textarea textarea {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: #555;
	font-family: inherit;
	font-size: 100%;
	height: 60px;
	margin: 0;
	outline: none;
	padding: 0;
	width: 100%;
}

.activity-comments li form.ac-form {
	clear: both;
	margin-right: 15px;
}

.activity-comments form.root {
	margin-left: 0;
}

/**
*----------------------------------------------------------
* @section 4.2 - Blogs Loop
*----------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 4.2 - Groups Loop
*----------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @section 4.2 - Members Loop
*----------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 4.0 - Directories
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 5.0 - Single Item screens: Groups, Users
*-------------------------------------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection 5.1 - Item Header Global
*-----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @subsection 5.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/
/**
*-----------------------------------------------------
* @subsection 5.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection 5.2 - Item Body: Global
*-----------------------------------------------------------
*/
/**
*----------------------------------------------------
* @subsection 5.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/
/**
*-----------------------------------------
* @subsection 5.2.1.1 - Group Management
*-----------------------------------------
*/
/**
*-----------------------------------------
* @subsection 5.2.1.2 - Group members
*-----------------------------------------
*/
/**
*-----------------------------------------------------
* @subsection 5.2.2 - Item Body User Accounts
*
* User Account specific item body rules
*-----------------------------------------------------
*/
/**
*--------------------------------------------
* @subsection 5.2.2.1 - classes, pag, filters
*--------------------------------------------
*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.3 - Groups
	*-------------------------------------------
	*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.5 - Private Messaging
	*-------------------------------------------
	*/
/**
	*------------------------------------------
	* @subsection 5.2.2.6 - Settings
	*------------------------------------------
	*/
/**
*-------------------------------------------------------------------------------
* @section 6.0 - Forms  - General
*-------------------------------------------------------------------------------
*/
.buddypress .standard-form textarea,
.buddypress .standard-form input[type=text],
.buddypress .standard-form input[type=color],
.buddypress .standard-form input[type=date],
.buddypress .standard-form input[type=datetime],
.buddypress .standard-form input[type=datetime-local],
.buddypress .standard-form input[type=email],
.buddypress .standard-form input[type=month],
.buddypress .standard-form input[type=number],
.buddypress .standard-form input[type=range],
.buddypress .standard-form input[type=search],
.buddypress .standard-form input[type=tel],
.buddypress .standard-form input[type=time],
.buddypress .standard-form input[type=url],
.buddypress .standard-form input[type=week],
.buddypress .standard-form select,
.buddypress .standard-form input[type=password],
.buddypress .standard-form [data-bp-search] input[type=search],
.buddypress .standard-form [data-bp-search] input[type=text],
.buddypress .standard-form .groups-members-search input[type=search],
.buddypress .standard-form .groups-members-search input[type=text] {
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #888;
	font: inherit;
	font-size: 100%;
	padding: 0.5em;
}

.buddypress .standard-form select {
	padding: 3px;
}

.buddypress .standard-form input[type=password] {
	margin-bottom: 5px;
}

.buddypress .standard-form label,
.buddypress .standard-form span.label {
	display: block;
	font-weight: bold;
	margin: 15px 0 5px;
	width: auto;
}

.buddypress .standard-form p label,
.buddypress .standard-form #invite-list label {
	font-weight: normal;
	margin: auto;
}

.buddypress .standard-form div.checkbox label:nth-child(n+2),
.buddypress .standard-form div.radio div label {
	color: #888;
	font-size: 100%;
	font-weight: normal;
	margin: 5px 0 0;
}

.buddypress .standard-form#sidebar-login-form label {
	margin-top: 5px;
}

.buddypress .standard-form#sidebar-login-form input[type=text],
.buddypress .standard-form#sidebar-login-form input[type=password] {
	padding: 4px;
	width: 95%;
}

.buddypress .standard-form #basic-details-section input[type=password],
.buddypress .standard-form #basic-details-section input#signup_blog_url {
	width: 35%;
}

.buddypress .standard-form#signup_form,
.buddypress .standard-form .form-allowed-tags,
.buddypress .standard-form #commentform {
	width: 90%;
}

.buddypress .standard-form#signup_form .submit {
	float: right;
}

/**
*----------------------------------------------------------
* @section 6.1 - Directory Search
*
* The Search form & controls in directory pages
*----------------------------------------------------------
*/
.buddypress [data-bp-search] form input[type="search"],
.buddypress [data-bp-search] form input[type=text] {
	float: left;
	font-size: 90%;
	padding: 5px 10px;
	width: 65%;
}

.buddypress [data-bp-search] form input[type="submit"] {
	display: none;
	float: left;
	font-size: 90%;
	line-height: inherit;
	padding: 5px 10px;
	text-align: center;
	width: auto;
}

.buddypress [data-bp-search] form input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

.buddypress [data-bp-search] form input[type="search"]::-webkit-search-results-button,
.buddypress [data-bp-search] form input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.buddypress [data-bp-search] form input[type="submit"] {
	font-family: dashicons;
}

.buddypress .current-member-type {
	font-style: italic;
}

.buddypress .dir-form {
	clear: both;
}

/**
*-------------------------------------------------------------------------------
* @section 7.0 - Tables - General
*-------------------------------------------------------------------------------
*/
/**
*-------------------------------------------------------------------------------
* @section 8.0 - Classes - Messages, Ajax, Widgets
*-------------------------------------------------------------------------------
*/
.buddypress .bp-messages {
	margin: 0 0 15px;
}

.buddypress .bp-messages p,
.buddypress .bp-messages .sitewide-notices {
	display: block;
	font-size: 90%;
	padding: 1em;
}

.buddypress .bp-messages.info {
	margin-bottom: 0;
}

.buddypress .bp-messages.updated {
	clear: both;
	display: block;
}

.buddypress .bp-feedback {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	padding: 10px 0 10px 30px;
	position: relative;
}

.buddypress .bp-feedback:before {
	color: #fff;
	font-family: dashicons;
	font-size: 24px;
	height: 100%;
	left: 0;
	line-height: 200%;
	margin-right: 10px;
	position: absolute;
	top: 0;
	vertical-align: bottom;
}

.buddypress .bp-feedback.info:before,
.buddypress .bp-feedback.help:before {
	background-color: #38a;
	content: "\f348";
}

.buddypress .bp-feedback.error:before,
.buddypress .bp-feedback.warning:before {
	background-color: #d33;
	content: "\f534";
}

.buddypress .bp-feedback.warning:before,
.buddypress .bp-feedback.loading:before {
	background-color: #ffd087;
}

.buddypress .bp-feedback.loading:before {
	content: "\f469";
}

.buddypress .bp-feedback.success:before {
	background-color: #8a2;
	content: "\f147";
}

.buddypress .bp-feedback.help:before {
	content: "\f468";
}

.buddypress #pass-strength-result {
	background-color: #eee;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	display: none;
	margin: 10px 10px 10px 0;
	padding: 0.5em;
	text-align: center;
	width: 150px;
}

.buddypress #pass-strength-result.error, .buddypress #pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c;
	display: block;
}

.buddypress #pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040;
	display: block;
}

.buddypress #pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c;
	display: block;
}

.buddypress .standard-form#signup_form div div.error {
	background: #faa;
	color: #a00;
	margin: 0 0 10px 0;
	padding: 0.5em;
	width: 90%;
}

.buddypress .accept,
.buddypress .reject {
	float: left;
	margin-left: 10px;
}
