//
// BuddyPress scss Variables
//

// This file provides colors, and any other values that benefit
// from a variable definition that can be managed and changed from one
// central position for all instances of the property/value.

// Spacing values - used primarilly for main elements to allow us
// to adjust values in a grouped manner.

$pad-xsml: 0.3em;
$pad-sml:  0.5em;
$pad-med:  1em;
$pad-lrg:  2em;
$pad-xlrg: 4em;

$marg-xsml: 5px;
$marg-sml:  10px;
$marg-med:  15px;
$marg-lrg:  20px;
$marg-xlrg: 30px;

// Colours

$dark-grey:            #555;
$light-text:           #777;
$primary-grey:         #ccc;
$light-grey:           #eaeaea;
$med-light-grey:       #d6d6d6;
$blue:                 #5087e5;
$black:                #333;
$grey:                 $primary-grey;
$golden:               #edbb34;

$highlight:            $blue; // for various elements such as span qnt indications
$text-link-hover:      #5087e5;
$text-link-visited:    $med-light-grey;
$bp-border-color:      #eee;
$bp-border-dark:       $primary-grey;
$buttons-background:   #ededed;
$off-white:            #fafafa;
$white:                #fff;
$form-border-color:    $med-light-grey;
$bp-text:              $dark-grey;
$form-text:            $light-text;
$primary-headings:     $light-text;
$textarea-bck:         $white;
$meta-text:            $light-text;
$meta-text-dark:       $dark-grey;
$focussed-border-clr:  rgba(31, 179, 221, 0.9); // textareas? e.g whats-new

// Message colors

// used on text == red
$warn:           #b71717;

// The colors for boxes
$warnings:       #d33;
$informational:  #38a;
$loading:        #ffd087;
$update-success: #8a2;

// password warn colors & border-short
// These may be overidden on the @include mixin call
$pwd-background:    #eee;
$background-short:  #ffa0a0;
$border-short:      #f04040;
$background-good:   #66d66e;
$border-good:       #438c48;
$background-bad:    #ffb78c;
$border-bad:        #ff853c;

// Animation loader-pulsate border / shadow colors

$border-color-from:        #aaa;
$border-color-to:          #ccc;
$shadow-color-from:        #ccc;
$shadow-color-to:          #f8f8f8;
