// BP Members loop.

.buddypress {

	.members-list { // ul

		li {

			.member-name {
				margin-bottom: $marg-sml;
			}

			.user-update {
				border: 1px solid $light-grey;
				@include border-radius(10px);
				clear: both;
				color: $meta-text;
				@include responsive-font(16);
				margin: $marg-med auto;
				padding: $pad-med;
				width: 80%;
			}

			@include medium-small-up() {

				.user-update {
					width: 60%;
				}
			}

		} // close li

	} // close .members-list

	// Members group specific list
	.members-group-list {
		li {

			@include medium-up() {

				.joined {
					clear: left;
					float: none;
				}
			}
		}
	}
} // close .buddypress

// If logged out or if the loop item is
// current user we don't display action buttons
// so lets remove the update width making room
// for the buttons - max out the user-update width.

body:not(.logged-in) {

		@include medium-small-up() {

		.members-list {

			.user-update {
				width: 98%;
			}
		}
	}
}

// Is current user - i.e it's me!

@include medium-small-up() {
	.buddypress {

		.members-list {

			.is-current-user {

				.item {
					margin-right: 0;
				}

				.user-update {
						width: 98%;
				}
			}
		}
	}
}
