// BP Directory Filters
// Specific Styling & Positioning
// N.B. See _bp_navigation for additional rules and properties.
.buddypress-wrap {

	.dir-component-filters { // ul

		.filter { // li

			label {
				display: inline;
			}
		}
	}

	// User account filters .subnav-filters

	.subnav-filters {
		background: none;
		overflow: hidden;
		list-style: none;
		margin: $marg-med 0;
		padding: 0;

		div {
			margin: 0;
		}

		div {
			float: none;

			select,
			input[type="search"] {

				@include font-size(16);
			}

			button.nouveau-search-submit {
				padding: 5px 0.8em 6px;
			}

			button#user_messages_search_submit {
				padding: 7px 0.8em;
			}
		}

		.feed {
			margin-right: $marg-med;
		}

		.last.filter {

			label {
				display: inline;
			}

		}

		.user-messages-bulk-actions {

			.bulk-apply {
				border-radius: none;
				font-weight: 400;
				line-height: 1.6;
				margin: 0 10px;
				padding: 6px 10px 4px;
				text-align: center;
				text-transform: none;
				vertical-align: baseline;
				width: auto;
			}
		}

		//position for wider screens

		@include medium-small-up() {

			li {
				margin-bottom: 0;
			}

			.subnav-search,
			.subnav-search form,
			.feed,
			.bp-search,
			.dir-search,
			.user-messages-bulk-actions,
			.user-messages-search,
			.group-invites-search {
				float: left;
			}

			.last,
			.component-filters {
				float: right;
				width: auto;

				select {
					max-width: 250px;
				}
			}

		} // @media

	} // close .subnav-filters

} // close .buddypress-wrap
