// Single Groups Management screens

// Groups settings screen
.group-status-type {

	@include responsive-font(14);
	width: 80%;

	ul {
		margin: 0 0 $marg-lrg $marg-lrg;
	}
}

// ==== Members manage ====

.groups-manage-members-list {
	padding: $pad-sml;

	dd {
		margin: 0;
		padding: $pad-med 0;
	}

	.section-title {
		background: $light-grey;
		padding-left: $pad-xsml;
	}

	ul {
		list-style: none;
		margin-bottom: 0;

		li {
			border-bottom: 1px solid $bp-border-color;
			padding: $pad-xsml;
		}

		li.banned-user {
			background: lighten($warn, 50%);
		}

		.member-name {
			margin-bottom: 0;
		}

		.action.text-links-list {
			margin-bottom: 0;

			a.button {
				color: $light-text;
				display: inline-block;
			}
		}

		@include medium-up() {

			li {

				.avatar,
				.member-name {
					float: left;
				}

				.avatar {
					margin-right: $marg-med;
				}

				.action {
					clear: both;
				}

			}
		} // close @media

	}

} //close .groups-manage-members-list
