// BP Directory Search elements

.buddypress {

		@include clearfix-element('.bp-dir-search-form');

		form.bp-dir-search-form {
			border: 1px solid $bp-border-color;

			label {
				margin: 0;
			}

			input[type="search"],
			input[type="text"],
			button[type="submit"] {
				border: 0;
				@include border-radius(0);
			}

			input[type="search"],
			input[type="text"] {
				float: left;
				padding: 6px 10px;
				width: 80%;
			}

			button[type="submit"] {
				display: none;
				float: right;
				font-size: inherit;
				font-weight: 400;
				line-height: inherit;
				padding: 6px 0.8em;
				text-align: center;
				text-transform: none;
				width: 20%;

				span {
					font-family: dashicons;
					@include font-size(18);
					line-height: 1.6;
				}
			}

			input[type="search"]::-webkit-search-cancel-button {
				-webkit-appearance: searchfield-cancel-button;
			}

			input[type="search"]::-webkit-search-results-button,
			input[type="search"]::-webkit-search-results-decoration {
				display: none;
			}

		} // close form

	// this block needs to be moved really.
	ul.filters {

		li {

			form {

				label {

					input {
						line-height: 1.4;
						padding: 0.1em 0.7em;
					}
				}
			}
		}
	}

	.current-member-type {
		font-style: italic;
	}

	.dir-form {
		clear: both;
	}

} // close .buddypress

// Try and apply correct tweaks for group/user screens search

.bp-user {

	[data-bp-search] {

		form {

			input[type="search"],
			input[type="text"] {
				padding: 6px 10px 7px;
			}

		}
	}
}

