// BP Whats new form handles user updates to groups or profiles

.item-body {

	.activity-update-form {

		.activity-form {
			margin: 0;
			padding: 0;
		}
	}
}

.activity-update-form {
	margin: $marg-med 0;

	.activity-form { // #whats-new-form
		margin-bottom: $marg-xlrg;
	}

	#whats-new-avatar {
		margin-right: $marg-sml;
		text-align: center;

		img {
			display: inline-block;
		}
	}

	// these ID's need replacing with this!
	//.content-wrap { // #whats-new-content

	#whats-new-content {
		padding: 0 0 $marg-lrg 0;
	}

	#whats-new-post-in-box {
		margin: $marg-sml 0;
	}

	#whats-new-submit {
		margin: 0 0 $marg-lrg;

		input {
			line-height: inherit;
			margin-right: 2px;
			padding: $pad-sml;
			text-align: center;
			width: 10em;
		}
	}

	// these ID's need replacing with this!
	//.textarea-wrap { // #whats-new-textarea

	#whats-new-textarea {

		textarea {
			background: $textarea-bck;
			border: 0;

			@include box-model();
			color: #333;
			font-family: inherit;
			font-size: medium;
			height: 2.2em;
			line-height: 1.4;
			padding: 6px;
			width: 100%;

			&:focus {

				@include box-shadow(0 0 6px 0 $med-light-grey);
				border: 1px solid $form-border-color;
			}
		}
	}

	@include medium-up() {

		#whats-new-avatar {
			display: block;
			float: left;
			margin-right: $marg-sml;
		}

		#whats-new-content,
		#whats-new-post-in-box,
		#whats-new-submit {
			margin-left: 12%;
		}

	} // close @media

}
