// Sitewide template error & info messages constructs.
.buddypress-wrap {

	.warn {
		color: $warn;
	}

	.bp-help-text {
		background: $off-white;
		font-style: italic;
		margin: $marg-sml 0;
		padding: $pad-sml;
	}

	.bp-messages {
		margin: 0 0 $marg-med;

		p,
		.sitewide-notices {
			display: block;
			margin: $marg-xsml;
			padding: $pad-sml;
		}

		// General info boxes
		&.info {
			margin-bottom: 0;
		}

		// Update success message boxes
		&.updated {
			clear: both;
			display: block;
		}

		// Error message boxes
		&.error {

			p {
				// oh linter you're too boringly pedantic, there will be properties!
			}
		}

		// Warning boxes
		//		&.warning {

		//			p {
		//			}
		//		}



	} // close .bp-messages

	.bp-sitewide-notice {
		border: 1px solid $bp-border-dark;
		@include box-shadow( 0 0 2px 0 $med-light-grey);
		margin: $marg-med 0;
		padding: $pad-sml;

		p {
			margin: $pad-sml 0;
		}
	}


	// This is an anomaly, this screen message is locked away in
	// core avatar styles and ought to be pulled out, markup & styles to nouveau
	#group-create-body {
		.bp-cover-image-status {
			p.warning {
				background: $informational;
				border: 0;
				@include box-shadow( 0 0 3px 0 rgba(0, 0, 0, 0.2) );
				color: $white;
			}
		}
	}


	// message-box() may be have params passed through:
	// ($background: #fff, $text-color: #000, $border: #eee)
	// '$border: none' ensures border turned off in favour off
	// box shadow.

	.bp-feedback {
		@include flex-box-dir();
		@include flex-align();
		@include message-box( $border: none);
		@include box-shadow( 0 1px 1px 1px rgba(0, 0, 0, 0.1) );
		margin: 10px 0;
		position: relative;

		span.bp-icon {
			color: $white;
			display: block;
			font-family: dashicons;
			left: 0;
			position: relative;
			padding: 0 .5em;
		}

		span.bp-help-text,
		span.text {
			margin: 0;
			padding: 0 0 0 1em;
		}
	}

	.bp-feedback.small:before {
		line-height: inherit;
	}

	.bp-feedback.small span.text {
//		display: inline-block;
//		margin-left: 30px;
	}

	a[data-bp-close] span:before {
		font-size: 32px;
	}

	a[data-bp-close] {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 32px;
	}

	.bp-feedback.info,
	.bp-feedback.help {

		.bp-icon {
			background-color: $informational;

			&:before {
				content: "\f348";
			}
		}
	}

	.bp-feedback.error,
	.bp-feedback.warning {

		.bp-icon {
			background-color: $warnings;

			&:before {
				content: "\f534";
			}
		}
	}

	.bp-feedback.loading {

		.bp-icon {
			background-color: $loading;

			&:before {
				content: "\f469";
			}
		}
	}

	.bp-feedback.success {

		.bp-icon {
			background-color: $update-success;

			&:before {
				content: "\f147";
			}
		}
	}

	.bp-feedback.help {

		.bp-icon {

			&:before {
				content: "\f468";
			}
		}
	}

	#pass-strength-result {
		background-color: $pwd-background;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px;
		display: none;
		margin: $marg-sml 0 $marg-sml 0;
		padding: $pad-sml;
		text-align: center;
		width: auto;

		&.error,
		&.bad {
			@include pwd-bad-colors();
			display: block;
		}

		&.short {
			@include pwd-short-colors();
			display: block;
		}

		&.strong {
			@include pwd-good-colors();
			display: block;
		}

	} // close #pass-strength-result

	.standard-form#signup_form div div.error {
		background: #faa;
		color: #a00;
		margin: 0 0 $marg-sml 0;
		padding: $pad-sml;
		width: 90%;
	}

	// these two are really helpful???!!
	.accept,
	.reject {
		float: left;
		margin-left: $marg-sml;
	}

} // close .buddypress-wrap
