//
// BuddyPress scss Variables
//

// This file provides colors, and any other values that benefit
// from a variable definition that can be managed and changed from one
// place for all instances of the property/value.

// Spacing values - used primarilly for main elements to allow us
// to adjust values in a grouped manner.

$pad-sml: 0.5em;
$pad-med: 1em;
$pad-lrg: 2em;

$marg-xsml: 5px;
$marg-sml:  10px;
$marg-med:  15px;
$marg-lrg:  20px;
$marg-xlrg: 30px;

// Colours
$bp-border-color:    #eee;
$form-border-color:  #ccc;
$bp-text:            #555;
$form-text:          #888;
$off-white:          #fafafa;
$light-grey:         #eaeaea;
$grey:               #eee;
$white:              #fff;
