//
// BuddyPress scss Variables
//

// This file provides colors, and any other values that benefit
// from a variable definition that can be managed and changed from one
// place for all instances of the property/value.

// Spacing values - used primarilly for main elements to allow us
// to adjust values in a grouped manner.

$pad-sml: 0.5em;
$pad-med: 1em;
$pad-lrg: 2em;

$marg-xsml: 5px;
$marg-sml:  10px;
$marg-med:  15px;
$marg-lrg:  20px;
$marg-xlrg: 30px;

// Colours
$bp-border-color:    #eee;
$bp-border-dark:     #ccc;
$form-border-color:  #ccc;
$bp-text:            #555;
$form-text:          #888;
$meta-text:          #888;
$off-white:          #fafafa;
$light-grey:         #eaeaea;
$med-light-grey:     #e0e0e0;
$grey:               #ccc;
$white:              #fff;
$black:              #333;

// Message colors

// used on text == red
$warn:           #b71717;

//the colors for boxes
$warnings:       #d33;
$informational:  #38a;
$loading:        #ffd087;
$update-success: #8a2;

// password warn colors
$pwd-background:    #eee;
$background-short:  #ffa0a0;
$border-short:      #f04040;
$background-good:   #66d66e;
$border-good:       #438c48;
$background-bad:    #ffb78c;
$border-bad:        #ff853c;
