// Single Groups Management screens

// Groups settings screen
.radio {
	.group-conditions {
		@include responsive-font(16);
		margin-left: $marg-lrg;
		width: 80%;

	//dt {

	//	}

		dd {
			ul {
				margin: 0 0 $marg-lrg $marg-lrg;
			}
		}
	}
}

// ==== Members manage ====

.groups-manage-members-list {
	padding: $pad-sml;

	dd {
		padding-bottom: $pad-med;
	}

	.section-title {
		background: $light-grey;
		padding-left: $pad-xsml;
	}

	ul {
		list-style: none;

		li {
			border-bottom: 1px solid $bp-border-color;
			padding: $pad-xsml;
		}

		li.banned-user {
			background: lighten($warn, 50%);
		}

		.member-name {
			margin-bottom: 0;
		}

		.action {
			margin-bottom: 0;

			a.button {
				display: inline-block;
			}
		}

		@include medium-up() {
			li {
				.avatar,
				.member-name {
					float: left;
				}

				.avatar {
					margin-right: $marg-med;
				}

				.action {
					clear: both;
				}

			}
		} // close @media

	}

} //close .groups-manage-members-list
