// BP Generic elements, Typography and Images.

// ========= Generic Sitewide elements ========
body {
	.buddypress {
		* {
			// some WP themes add anchor border bottom :(
			a {
				border-bottom: 0;
				box-shadow: none;
				text-decoration: none;
			}
		}

		// Some themes have a negative left margin on the blockquote element??
		#item-body,
		.bp-lists {
			blockquote {
				margin-left: $marg-sml;
			}
		}

	}
}
// Some themes have very restricted content widths for pages or entry-content (2013, 2014)
// Lets adjust these restrictions
body.buddypress {
	.entry-content {
		max-width: none;
		padding: 0 $pad-sml;
	}
}

// BP Theme Compatibility isn't technically a theme and has to
// inherit and move over for a themes styles so with generic styling of
// elements we have limited scope

// Ensure themes can't cause issues with headings.
.buddypress {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		clear: none;
	}
}
