// BP primary & secondary directory and single screen navigation

.bp-navs {
	background: transparent;
	clear: both;
	overflow: hidden;

	ul {
		margin: 0;
		padding: 0;

		li {
			float: left;
			list-style: none;
			margin: 0;
		}

		li.last {
			margin: 7px 0 0;

			select {
				max-width: 185px;
			}
		}

		li {
			a,
			span {
				border: 0;
				display: block;
				padding: 5px 10px;
				text-decoration: none;
			}

			span {
				background: #eee;
				border: 1px solid #ccc;
				border-radius: 50%;
				color: #999;
				display: inline;
				font-size: 70%;
				margin-left: 2px;
				padding: 3px 6px;
				text-align: center;
				vertical-align: middle;
			}
		}

		// these selected/current should apply to all navs
		// if not pull out & move to end.
		li.selected,
		li.current {
			a {
				background-color: #eee;
				color: #555;
				font-weight: bold;
				opacity: 0.8;
			}
		}

	} // close ul

	&.bp-invites-filters,
	&.bp-messages-filters {
		ul {
			li {
				a {
					border: 1px solid #ccc;
					display: inline-block;
				}
			}
		}
	}

} // close .bp-navs

.bp-subnavs,
ul.subnav {
	width: 100%;
}

.buddypress {

	.bp-subnavs,
	.bp-subnavs#subsubnav {
		background: transparent;
		margin: $marg-sml 0 ;
		overflow: hidden;

		ul {
			li {
				margin-top: 0;

				&.last {
					margin-top: 4px;
				}
			}
			.last.filter {
				select {
					@include font-size(16)
					margin-right: $marg-xsml;
				}
			}
		}
	}

	.bp-navs.bp-invites-nav#subnav,
	.bp-navs.bp-invites-filters#subsubnav,
	.bp-navs.bp-messages-filters#subsubnav {
		ul {
			li.last {
				margin-top: 0;
			}
		}
	}

	// ul generally holding filters & search elements only
	.subnav-filters {
		padding: 0 $marg-xsml;
	}

	// The selected, current, hover states, psuedo elements etc - stuff!

	// whats this????
	// .buddypress_object_nav .item-list-tabs  li a:hover span,
	.bp-navs {
		li.selected,
		li.current,
		li a:hover {
			a {
				span {
					background-color: $grey;
				}
			}
		}
	}

} // close .buddypress

.buddypress_object_nav,
.buddypress {
	.bp-navs {
		li.selected,
		li.current {
			a {
				span {
					background-color: $white;
				}
			}
		} // close li

		li.dynamic,
		li.dynamic.selected,
		li.dynamic.current {
			a {
				span {
					background-color: #1fb3dd;
					border: 0;
					color: #fff;
				}
			}
		}

		li.dynamic {
			a:hover {
				span {
					background-color: #1fb3dd;
					border: 0;
					color: #fff;
				}
			}
		} // li

		li {
			a {
				span:empty {
					display: none;
				}
			}
		}
	} // bp-navs
}

.buddypress .bp-navs  li.filter label:before,
.buddypress .bp-navs  li.feed a:before,
.buddypress .bp-invites-content .item-list li a.invite-button:before,
.buddypress .bp-invites-filters  li a.invite-button:before,
.buddypress .bp-messages-filters li a.messages-button:before {
	font-family: dashicons;
	font-size: 18px;
}

.buddypress .bp-invites-content .item-list li a.invite-button:before {
	font-size: 32px;
}

// Icons

.buddypress {

	.bp-navs {
		ul {

			li.filter label:before {
				content: "\f536";
			}

			li.feed a:before {
				content: "\f303";
			}
		} // close ul

		ul.item-list {

			li a.invite-button:not(.group-remove-invite-button):before {
				content: "\f502";
			}

			li.selected a.invite-button:before,
			li a.group-remove-invite-button:before {
				content: "\f153";
			}
		} // close ul.item-list

		.bp-invites-filters ul li a#bp-invites-next-page:before,
		.bp-messages-filters ul li a#bp-messages-next-page:before {
			content: "\f345";
		}

		.bp-invites-filters ul li a#bp-invites-prev-page:before,
		.bp-messages-filters ul li a#bp-messages-prev-page:before {
			content: "\f341";
		}

		.bp-messages-filters ul li a.messages-button.bulk-apply:before {
			content: "\f147";
			font-size: 18px;
		}
	} // close .bp-navs

	.bp-subnavs.bp-messages-filters ul li a.bulk-apply {
		border-left: 0;
		border-radius: none;
		font-weight: normal;
		line-height: inherit;
		margin: 0;
		padding: 2.5px 10px;
		text-align: center;
		text-transform: none;
		vertical-align: baseline;
		width: auto;
	}

	// position our nav elements at larger screen widths
	@include medium-up() {
		.subnav {
			float: left;
		}

		.dir-component-filters {
			float: right;
		}

		// user screen last filter
		#subsubnav {

			.activity-search {
				float: left;
			}

			.filter {
				float: right;
			}
		}

		#subnav {
			.last {
				float: right;
			}
		}

	} // close @media

} // close .buddypress


// Just buddypress_object_nav rules
.buddypress_object_nav {
	.bp-navs {
		ul {
			// yes it's empty, I know that!
		}

		li {
			a {
				span {
					display: inline-block;
					float: right;
				}
			}
		}

	}
}
