// Sitewide template error & info messages constructs.
.buddypress {
	.bp-messages {
		margin: 0 0 $marg-med;

		p,
		.sitewide-notices {
			display: block;
			font-size: 90%;
			padding: $pad-med;
		}

		// General info boxes
		&.info {
			margin-bottom: 0;
		}

		// Update success message boxes
		&.updated {
			clear: both;
			display: block;
		}

		// Error message boxes
		&.error {
			p {
				// oh linter you're too boringly pedantic, there will be properties!
			}
		}

		// Warning boxes
		&.warning {
			p {
				// oh linter you're too boringly pedantic, there will be properties!
			}
		}

		&.sitewide-notice {
			// rebuild these rules and classes
		}

	} // close .bp-messages

	.bp-feedback {
		background-color: #fff;
	//	padding: 1px $pad-med; // ?????
		@include box-shadow(0 1px 1px 1px rgba(0, 0, 0, 0.1));
		margin: 10px 0;
		padding: 10px 0 10px 30px;
		position: relative;
	}

	.bp-feedback:before {
		color: #fff;
		font-family: dashicons;
		font-size: 24px;
		height: 100%;
		left: 0;
		line-height: 200%;
		margin-right: 10px;
		position: absolute;
		top: 0;
		vertical-align: bottom;
	}

	.bp-feedback.info:before,
	.bp-feedback.help:before {
		background-color: #38a;
		content: "\f348";
	}

	.bp-feedback.error:before,
	.bp-feedback.warning:before {
		background-color: #d33;
		content: "\f534";
	}

	.bp-feedback.warning:before,
	.bp-feedback.loading:before {
		background-color: #ffd087;
	}

	.bp-feedback.loading:before {
		content: "\f469";
	}

	.bp-feedback.success:before {
		background-color: #8a2;
		content: "\f147";
	}

	.bp-feedback.help:before {
		content: "\f468";
	}

	#pass-strength-result {
		background-color: #eee;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px;
		display: none;
		margin: $marg-sml $marg-sml $marg-sml 0;
		padding: $pad-sml;
		text-align: center;
		width: 150px;

		&.error,
		&.bad {
			background-color: #ffb78c;
			border-color: #ff853c;
			display: block;
		}

		&.short {
			background-color: #ffa0a0;
			border-color: #f04040;
			display: block;
		}

		&.strong {
			background-color: #c3ff88;
			border-color: #8dff1c;
			display: block;
		}

	} // close #pass-strength-result

	.standard-form#signup_form div div.error {
		background: #faa;
		color: #a00;
		margin: 0 0 $marg-sml 0;
		padding: $pad-sml;
		width: 90%;
	}

	// these two are really helpful???!!
	.accept,
	.reject {
		float: left;
		margin-left: $marg-sml;
	}

} // close .buddypress
