

#buddypress div.profile h4 {
	margin-bottom: auto;
	margin-top: 15px;
}

#buddypress #profile-edit-form ul.button-nav {
	margin-top: 15px;
}
body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
	display: none;
}

#buddypress .field-visibility-settings {
	display: none;
	margin-top: 10px;
}
	body.no-js #buddypress .field-visibility-settings {
		display: block;
	}

#buddypress .current-visibility-level {
	font-weight: bold;
	font-style: normal;
}

#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
	color: #888;
}

#buddypress .field-visibility-settings-toggle a,
#buddypress .field-visibility-settings a {
	font-size: 80%;
}
body.register #buddypress div.page ul {
	list-style: none;
}

#buddypress .standard-form .field-visibility-settings label {
	margin: 0;
	font-weight: normal;
}

#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
	font-style: italic;
}

#buddypress .field-visibility-settings .radio {
	list-style: none;
	margin-bottom: 0;
}

#buddypress .field-visibility select {
	margin: 0;
}

#buddypress .wp-editor-container {
	border: 1px solid #dedede;
}

#buddypress .html-active button.switch-html {
	border-bottom-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: #f5f5f5;
}

#buddypress .tmce-active button.switch-tmce {
	border-bottom-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: #f5f5f5;
}

#buddypress .standard-form .wp-editor-container textarea {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}
