// BP Single Group Header Styles.

.groups-header {

	.bp-feedback {
		clear: both;
	}

	// groups admin/mod wrapper block
	.group-item-actions {
		float: right;
		margin: 0 0 15px 15px;
		padding-top: 0;
		text-align: right;
		width: 20%;
	}


	// The admin & mod list display for a group.
	// 'moderators-lists' is used to refer to
	// generic members with elevated access.
	.moderators-lists {
		margin-top: 0;

		.moderators-title {
			@include font-size(14);
		}

		.user-list {

			ul {
				overflow: hidden;
			}

			li {
				float: right;
			}
		}

		img.avatar {
			height: 20px;
			width: 20px;
		}
	} // close moderators-lists

	.desc-wrap {
		background: $light-grey;
		margin: 0 0 $marg-med;
		padding: $pad-med;
		text-align: center;

		.group-description {
			background: $off-white;
			display: inline-block;
			padding: $pad-med;
			text-align: left;
		}
	}

} // close groups-header

