// BP Layouts
// Layouts provides classes to handle specific module layouts on a user selectable basis
// The sheet also adds layout properties such border-box

#item-body,
.single-screen-navs {
	@include box-model();
}


// ==== The Grid Layout Classes ====

// BP Lists (loops) may be suited to a grid layout e.g members loops
// These classes added to the elements will provide these styles.

.grid {
	// the parent element (usually the ul)

	>li,
	>li .generic-button a {
		@include box-model( border-box );
	}

	>li {
		border-bottom: 0;
		padding-bottom: 20px;
		padding-top: 0;

		.wrap {
			background: $off-white;
			border: 1px solid $bp-border-color;
			padding-bottom: 15px;
			position: relative;
			overflow: hidden;
			padding-top: 14px;

			.update {
				color: $meta-text;
				padding: $pad-sml $pad-lrg;
			}
		}

		.item-avatar {
			text-align: center;

			.avatar {
				border-radius: 50%;
				display: inline-block;
				width: 50%;
			}
		}

	} // close >li

}

/* Build the two column class small up */
@include small-up() {
	// Set the column  or item numbers to span horizontally
	.grid {

		>li.item-entry {
			float: left;
			margin: 0;
		}

		&.two, &.three {
			>li {
				width: 50%;

				&:nth-child(odd) {
					padding-right: 10px;
				}

				&:nth-child(even) {
					padding-left: 10px;
				}

				.item {
					margin: 1rem auto 0;
					width: 80%;

					.item-title {
						width: auto;
					}
				}
			} // close >li
		}
	}
}

/* Build the three column class medium up */
@include medium-up() {

	.grid {

		// Set three to a row
		&.three {

			>li {
				padding-top: 0;
				width: 33.333333%;
				width: calc(100% /3);

				&:nth-child(1n+1) {
					padding-left: 5px;
					padding-right: 5px;
				}

				&:nth-child(3n+3) {
					padding-left: 5px;
					padding-right: 0;
				}

				&:nth-child(3n+1) {
					padding-left: 0;
					padding-right: 5px;
				}

			} // close >li
		}
	} // .grid
} // close @media

/* Build the four column class medium up */
@include medium-up() {
	// Set four to a row
	.grid {
		&.four {

			>li {
				width: 25%;

				&:nth-child(1n+1) {
					padding-left: 5px;
					padding-right: 5px;
				}

				&:nth-child(4n+4) {
					padding-left: 5px;
					padding-right: 0;
				}

				&:nth-child(4n+1) {
					padding-left: 0;
					padding-right: 5px;
				}

			} // close >li
		}
	} // .grid
} // close @media

// This block styles the loop items for a grid layout
// The block might be better located in the generic bp-lists section

/* Style the .bp-list li elements if a 'grid' class added to the ul*/

	// if grid is set & this is a member, group or blog loop
	// we want to re-style some of the elements in the item

.grid.bp-list {
	padding-top: $pad-med;

	>li {
		border-bottom: none;

		.wrap {
			// make room for the action buttons to sit.
			padding-bottom: 3rem;
		}

		.item-avatar {
			margin: 0;
			text-align: center;
			width: auto;

			img.avatar {
				display: inline-block;
				height: auto;
				width: 50%;
			}
		}

		.item-meta,
		.list-title {
			float: none;
			text-align: center;
		}

		.item {
			@include responsive-font( 22 );
			left: 0;
			margin: 0 auto;
			text-align: center;
			width: 96%;

			.user-update {
				clear: both;
				text-align: left;
			}

			.activity-read-more a {
				display: inline;
			}
		}

		.action {
			bottom: 5px;
			float: none;
			height: auto;
			left: 0;
			margin: 0;
			padding: 0 5px;
			//position: absolute;
			text-align: center;
			top: auto;
			width: 100%;

			.generic-button {
				float: none;
				margin: $marg-xsml 0 0 ;
				text-align: center;
				width: 100%;
			}
		}

		.item-avatar,
		.avatar,
		.item {
			float: none;
		}

	} // close >li
} // close .grid.bp-list

	// .wrap min-heights & other adjustments per component type loop
	// this section needs review as tricky in trying to get equal height
	// on elements and some rules here are repeated to allow for variable values.
.grid {
	&.members-list {
		.wrap {
			min-height: 350px;
		}
	}

	&.groups-list {
		.wrap {
			min-height: 450px;

			.list-title {
				min-height: 1.5em;
				padding: $pad-sml;
			}

			.last-activity,
			.group-details,
			.item-desc {
				margin-bottom: 0;

				p {
					margin-bottom: 0;
				}
			}

			.group-desc {
				margin: $marg-med auto $marg-lrg;
				min-height: 5em;
				overflow: hidden;
			}
		}
	}

	&.blogs-list {
		.wrap {
			min-height: 350px;
		}
	}

} // close .grid

	// ==== Vertical Navigation Classes ====

// These classes added to the BP user navigation elements
// will provide rules to modify the layout to present the
// parent object navigation in a vertical column & sub navs
// horizontally across the item-body

@include medium-up() {
	.buddypress {
		.vertical {
			overflow: visible;

			ul {
				border-right: 1px solid $med-light-grey;
				float: left;
				margin-right: -1px;
				width: 30%;
			}

			li {
				float: none;

				&.selected a {
					background: $grey;
					color: $black;
				}

				&:focus,
				&:hover  {
					background: $grey;
				}

				span {
					background: $med-light-grey;
					border-radius: 10%;
					float: right;
					margin-right: 2px;
				}

				&:hover span {
					border-color: $light-grey;
				}
			} // li

		}
	} // close .buddypress

	// re-factor the related elements like the #item-body so it sits alongside(floated)

	.bp-vertical-nav { // the body or additional #buddypress element class

		.bp-wrap {
			background: $light-grey;
			margin-bottom: $marg-med;
		}

		.item-body {
			background: #fff;
			border-left: 1px solid $med-light-grey;
			margin: 0;
			min-height: 400px;
			overflow: hidden;
			padding: 0 0 0 $pad-sml;

			#subnav:not(.tabbed-links) {
				background: $light-grey;
				margin: 0 0 0 -5px;
				width: auto;

				li {
					@include font-size(16);
					margin: $marg-sml 0;

					a {
						border-right: 1px solid $bp-border-dark;
						padding: 0 $pad-sml;
					}

					a:focus,
					a:hover {
						background: none;
					}
				}

				li.current {
					a {
						background: none;
						color: $black;
						text-decoration: underline;
					}
				}

				li:last-child {
					a {
						border: none;
					}
				}

			} // close #subnav
		}
	}

} // close @media
