// BP Lists Global Styles.

.buddypress {

	.bp-list {
		@include box-model();
		border-top: 1px solid $light-grey;
		clear: both;
		list-style: none;
		margin: $marg-med 0;
		overflow: hidden;
		padding: 0;
		width: 100%;

		// these clearfix rules simply becauase the element can't be classed
		li:before,
		li:after {
			content: " ";
			display: table;
		}

		li:after {
			clear: both;
		}

		li {
			border-bottom: 1px solid $light-grey;
			list-style: none;
			margin: $marg-sml 0;
			padding: $pad-sml 0;
			position: relative;

			.item-avatar {
				text-align: center;

				img.avatar {
					display: inline;
				}
			}

			.item {

				.list-title {
					clear: none; // some WP theme state clear:both
					font-size: 90%;
					font-weight: normal;
					margin: 0;
				}
			}

			.item-desc {
				color: #888;
				font-size: 80%;
				margin: $marg-sml 0 0 60px;
				width: 50%;
			}

			.meta,
			.item-meta {
				color: #888;
				font-size: 80%;
				margin-top: $marg-sml;
			}

			.generic-button {
				display: inline-block;
				margin: 0 $marg-sml 0 0;
			}

			@include small-up() {
				.item-avatar {
					float: left;
					text-align: left;
					width: 18%;
				}

				.list-title,
				.item-meta {
					float: left;
				}

				.item-meta,
				.action {
					clear: left;
				}

				.action {
					padding: $pad-sml 0 0;
				}

			} // close @media

			@include medium-up() {

				.item {
					margin: 0 20%;
					overflow: hidden;
				}

				.action {
					padding: 0;
					position: absolute;
					right: 0;
					text-align: right;
					top:0;
				}

				.generic-button {
					display: block;
					margin: 0  0 $marg-xsml 0;
				}

			} // close @media

		} // close li

		li.group-no-avatar div.item-desc {
			margin-left: 0;
		}

	} // close .bp-list

} // .buddypress

// body class: single act items screens.
.activity-permalink {

	.item-list,
	.item-list li.activity-item {
		border: 0;
	}
}
