// BP User Profiles screen
// 1/ Profile Edit
// 2/ Profile Public Display

// Edit Screen

.buddypress {

	.profile {

		.button-nav {
			list-style: none;
			margin: $marg-xlrg 0 $marg-sml;

			li {
				display: inline-block;
				margin-right: $marg-sml;

				a {
					@include font-size(18);
				}
			}
		}
	}
} // close .buddypress

body.no-js {
	.buddypress .field-visibility-settings-toggle,
	.buddypress .field-visibility-settings-close {
		display: none;
	}

	.buddypress .field-visibility-settings {
		display: block;
	}
}

.buddypress {

	.field-visibility-settings {
		display: none;
		margin: $marg-sml 0;
	}

	.current-visibility-level {
		font-style: normal;
		font-weight: bold;
	}

	.field-visibility-settings,
	.field-visibility-settings-header {
		color: $light-text;
	}

	.field-visibility-settings {

		fieldset {
			margin: $marg-xsml 0;
		}

		a {
			font-size: 80%;
		}
	}

	.standard-form {
		.field-visibility-settings {
			label {
				font-weight: normal;
				margin: 0;
			}

			.radio {
				list-style: none;
				margin-bottom: 0;
			}
		}

		.wp-editor-container {
			border: 1px solid #dedede;

			textarea {
				padding-bottom: 0;
				padding-top: 0;
				width: 100%;
			}
		}

		// field item description
		.description {
			background: $off-white;
			padding: $pad-sml;
		}

		.field-visibility-settings legend,
		.field-visibility-settings-header {
			font-style: italic;
		}

		.field-visibility-settings-header {
			@include font-size(16);
		}

		.field-visibility-settings {

			legend,
			label {
				@include	font-size(14);
			}
		}

		.field-visibility select {
			margin: 0;
		}

	} // close .standard-form

	.html-active button.switch-html {
		background: #f5f5f5;
		border-bottom-color: transparent;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.tmce-active button.switch-tmce {
		background: #f5f5f5;
		border-bottom-color: transparent;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

} // close .buddypress

body.register .buddypress .page ul {
	list-style: none;
}

// Profile Change Avatar

.buddypress {

}
