// BP Members loop.

.buddypress {

	.members-list { // ul
		li {

			.user-update {
				border: 1px solid $light-grey;
				@include border-radius(10px);
				clear: both;
				color: $meta-text;
				@include font-size(12);
				margin: $marg-med auto;
				padding: $pad-med;
				width: 80%;
			}

			@include medium-small-up() {

				.user-update {
					width: 60%;
				}
			}

		} // close li

	} // close .members-list

	// Members group specific list
	.members-group-list {
		li {

			@include medium-up() {

				.joined {
					clear: left;
					float: none;
				}

				.user-update {

				}
			}
		}
	}

}
