// BP Directory Filters
// Specific Styling & Positioning
// N.B. Please see _bp_navigation for additional rules and properties.
.buddypress {

	.dir-component-filters { // ul

		.filter { // li

		}
	}

	// User account filters .subnav-filters

	.subnav-filters {
		background: none;
		overflow: hidden;
		list-style: none;
		margin: $marg-med 0;
		padding: 0;

		ul {
			margin-bottom: 0;
		}

		li {
			float: none;
			overflow: hidden;
			margin-bottom: $marg-med;
		}

		li.feed {
			margin-right: $marg-med;
		}

		.last.filter {
			select {
				@include font-size(16)
				padding: 3px $marg-sml;
			}
		}

		//position for wider screens
		@include medium-up() {

			li {
				margin-bottom: 0;
			}

			ul.subnav-search,
			li.feed,
			li.bp-search,
			.dir-search,
			.user-messages-bulk-actions,
			.user-messages-search,
			.group-invites-search {
				float: left;
			}

			.last,
			.dir-component-filters {
				float: right;
				width: auto;

				select {
					max-width: 250px;
				}
			}

		} // @media

	} // close .subnav-filters

	.bp-subnavs.bp-messages-filters ul li a.bulk-apply {
		border-left: 0;
		border-radius: none;
		font-weight: normal;
		line-height: inherit;
		margin: 0;
		padding: 2.5px 10px;
		text-align: center;
		text-transform: none;
		vertical-align: baseline;
		width: auto;
	}

} // close .buddypress
