// BP Generic elements, Typography and Images.

// ========= Generic Sitewide elements ========
body {
	.buddypress {
		* {
			// some WP themes add anchor border bottom :(
			a {
				border-bottom: 0;
				box-shadow: none;
				text-decoration: none;
			}
		}

		// Some themes have a negative left margin on the blockquote element??
		#item-body,
		.bp-lists {
			blockquote {
				margin-left: $marg-sml;
			}
		}

	}
}
// Some themes have very restricted content widths for pages or entry-content (2013, 2014)
// Lets adjust these restrictions
body.buddypress {
	.entry-content {
		max-width: none;
		padding: 0 $pad-sml;
	}
}

// BP Theme Compatibility isn't technically a theme and has to
// inherit and move over for a themes styles so with generic styling of
// elements we have limited scope

// Ensure themes can't cause issues with headings.
body { // add weight
	.buddypress {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			clear: none;
			// some themes set massive margins ensure we avoid thse in bp elements
			margin: 1em 0;
		}
	}
}

// Ensure the .bp-wrap element always contains it's children - this may cause issues
// but gropus single requires it.
@include clearfix-element('.bp-wrap');

// ====== BP Typograph Elements ======

// General labels text for controls

.bp-label-text,
.activity-header {
	@include responsive-font(16);
}

#whats-new-post-in {
	@include font-size(16);
}

.mini .activity-header,
.acomment-meta {
	@include font-size(14);
}

ul.filters {
	li.member-search {
		label,
		button {
		//	@include responsive-font(16);
		}
	}
}
$search-element-size: 15;
$search-element-button-size: $search-element-size + 5;

	.bp-tables-user {
		th {
			@include responsive-font(16);
		}

		td {
			@include responsive-font(14);
		}
	}

#notification-select { @include responsive-font(14) }
