// Sitewide template error & info messages constructs.
.buddypress {

	.warn {
		color: $warn;
	}

	.bp-help-text {
		background: $off-white;
		font-style: italic;
		margin: $marg-sml 0;
		padding: $pad-sml;
	}

	.bp-messages {
		margin: 0 0 $marg-med;

		p,
		.sitewide-notices {
			display: block;
			@include responsive-font(22);
			margin: $marg-xsml;
			padding: $pad-sml;
		}

		// General info boxes
		&.info {
			margin-bottom: 0;
		}

		// Update success message boxes
		&.updated {
			clear: both;
			display: block;
		}

		// Error message boxes
		&.error {
			p {
				// oh linter you're too boringly pedantic, there will be properties!
			}
		}

		// Warning boxes
		&.warning {
			p {
				// oh linter you're too boringly pedantic, there will be properties!
			}
		}

		&.sitewide-notice {
			// rebuild these rules and classes
		}

	} // close .bp-messages

	// message-box() may be have params passed through:
	// ($background: #fff, $text-color: #000, $border: #eee)
	// '$border: none' ensures border turned off in favour off
	// box shadow.

	.bp-feedback {
		@include message-box( $border: none);
		@include box-shadow( 0 1px 1px 1px rgba(0, 0, 0, 0.1) );
		margin: 10px 0;
		padding: $pad-sml 0 $pad-sml 50px;
		position: relative;
	}

	.bp-feedback:before {
		color: #fff;
		font-family: dashicons;
		font-size: 24px;
		height: 100%;
		left: 0;
		line-height: 200%;
		padding: 0 3px;
		position: absolute;
		top: 0;
	}

	a[data-bp-close] span:before {
		font-size: 32px;
	}

	a[data-bp-close] {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 32px;
	}

	.bp-feedback.info:before,
	.bp-feedback.help:before {
		background-color: $informational;
		content: "\f348";
	}

	.bp-feedback.error:before,
	.bp-feedback.warning:before {
		background-color: $warnings;
		content: "\f534";
	}

	.bp-feedback.loading:before {
		background-color: $loading;
		content: "\f469";
	}

	.bp-feedback.success:before {
		background-color: $update-success;
		content: "\f147";
	}

	.bp-feedback.help:before {
		content: "\f468";
	}

	#pass-strength-result {
		background-color: $pwd-background;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px;
		display: none;
		margin: $marg-sml $marg-sml $marg-sml 0;
		padding: $pad-sml;
		text-align: center;
		width: 150px;

		&.error,
		&.bad {
		@include pwd-bad-colors();
			display: block;
		}

		&.short {
			@include pwd-short-colors();
			display: block;
		}

		&.strong {
			@include pwd-good-colors();
			display: block;
		}

	} // close #pass-strength-result

	.standard-form#signup_form div div.error {
		background: #faa;
		color: #a00;
		margin: 0 0 $marg-sml 0;
		padding: $pad-sml;
		width: 90%;
	}

	// these two are really helpful???!!
	.accept,
	.reject {
		float: left;
		margin-left: $marg-sml;
	}

} // close .buddypress
