// BP Single Screens Item Body General Styles.

.buddypress {

	.item-body {
		margin: $marg-lrg 0;

		.screen-heading {
			@include font-size(22);
		}

		.button-tabs {
			margin: $marg-xlrg 0 $marg-med;

			li {
				a {
					@include font-size(22);
				}
			}
		}

	}

}
