// BP pagination  - generic styling for all screens
.buddypress {

	.pagination {

		background: transparent;
		border: 0;
		color: #999;
		float: left;
		font-size: small;
		margin: 0;
		padding: $pad-sml 0;
		position: relative;
		width: 100%;

		.pag-count {
			float: left;
			margin-left: 10px;
		}

		.pagination-links {
			float: right;
			margin-right: 10px;

			span,
			a {
				font-size: small;
				opacity: 0.9;
				padding: 0 5px;
			}

		} // .pagination-links

		.pagination-links {
			a:focus,
			a:hover {
				opacity: 1;
			}
		}

		p {margin: 0;}

	} // close .pagination

}
