// BP Directory Search elements

.buddypress {

	[data-bp-search] {

		@include clearfix-element(form);

		form {
			border: 1px solid $bp-border-color;

			label {
				margin: 0;
			}

			input[type="search"],
			input[type="text"] {
				border: 0;
				float: left;
				padding: 6px 10px;
				width: 80%;
			}

			button[type="submit"] {
				border: 0;
				display: none;
				float: right;
				font-weight: 400;
				line-height: inherit;
				padding: 0.5em 0.8em;
				text-align: center;
				text-transform: none;
				width: 20%;
			}

			input[type="search"]::-webkit-search-cancel-button {
				-webkit-appearance: searchfield-cancel-button;
			}

			input[type="search"]::-webkit-search-results-button,
			input[type="search"]::-webkit-search-results-decoration {
				display: none;
			}

			button[type="submit"] span { // why seperate add to above ruleset?
				background: none;
				border: 0;
				font-family: dashicons;
				@include font-size(18);
				line-height: 1.2;
			}

		} // close form

	} // close [data-bp-search]

	ul.filters  li  form label input {
		line-height: 1.4;
		padding: 0.1em 0.7em;
	}

	.current-member-type {
		font-style: italic;
	}

	.dir-form {
		clear: both;
	}

} // close .buddypress

// Try and apply correct tweaks for group/user screens search

.bp-user {

	[data-bp-search] {

		form {

			input[type="search"],
			input[type="text"] {
				padding: 6px 10px 7px;
			}

		}
	}
}

