// BP Private Messages:
// messages lists, message single views, bulk actions

table#message-threads tr.unread td {
	background: #fff9db;
	border-bottom: 1px solid #ffe8c4;
	border-top: 1px solid #ffe8c4;
	font-weight: bold;
}

table#message-threads tr.unread td .thread-excerpt,
table#message-threads tr.unread td .activity,
table#message-threads tr.unread td.thread-options {
	font-weight: normal;
}

li span.unread-count,
tr.unread span.unread-count {
	background: #d00;
	color: #fff;
	font-weight: bold;
	padding: 2px 8px;
}

.bp-navs ul li a span.unread-count {
	color: #fff;
	padding: 1px 6px;
}

div#message-thread div.message-box {
	margin: 0;
	padding: 15px;
}

div#message-thread div.alt {
	background: #f4f4f4;
}

div#message-thread p#message-recipients {
	margin: 10px 0 20px 0;
}

div#message-thread img.avatar {
	float: left;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

div#message-thread strong {
	font-size: 100%;
	margin: 0;
}

div#message-thread strong a {
	text-decoration: none;
}

div#message-thread strong span.activity {
	margin-top: 4px;
}

div#message-thread div.message-metadata {
	overflow: hidden;
}

div#message-thread div.message-content {
	margin-left: 45px;
}

div#message-thread div.message-options {
	text-align: right;
}

#message-threads img.avatar {
	max-width: none;
}

div.message-search {
	float: right;
	margin: 0 20px;
}

.message-metadata {
	position: relative;
}

.message-star-actions {
	position: absolute;
	right: 0;
	top: 0;
}

a.message-action-star,
a.message-action-unstar,
a.message-action-view,
a.message-action-delete {
	border-bottom: 0;
	outline: none;
	text-decoration: none;
}

a.message-action-star {
	opacity: 0.7;
}

a.message-action-star:hover {
	opacity: 1;
}

.message-action-star span.icon:before,
.message-action-unstar span.icon:before {
	font-family: dashicons;
	font-size: 18px;
}

.message-action-star span.icon:before {
	color: #aaa;
	content: "\f154";
}

.message-action-unstar span.icon:before {
	color: #fcdd77;
	content: "\f155";
}
