// BP Buttons, Submits, Icons and general clicky things styling.

// Buttons by default are styled as simple boxes but we may
// change that by adding a parent class ( on any close parent to
// the element ) .text-link-list

.buddypress {

	// this doubling avoids issues applying styles from body class
	// to general theme elements - changing body class would be better though.
	.buddypress {

		button,
		a.button,
		input[type="submit"],
		input[type="button"],
		input[type="reset"],
		ul.button-nav li a,
		.generic-button a,
		.comment-reply-link,
		a.bp-title-button {
			background: $white; /* Old browsers */
			border-color: $bp-border-dark;
			border-style: solid;
			border-width: 1px;
			color: $dark-grey;
			cursor: pointer;
			font-size: small;
			outline: none;
			padding: 4px 10px;
			text-align: center;
			text-decoration: none;
			width: auto;
		}

		// Reduce padding for messages screens compose button
		// to prevent border clipping in tab visual layout
		li.last a#compose {
			padding: 2px 8px;
		}

		// Re-instate the quick-tag padding to avoid the above ruleset
		// causing styling issues.
		.button-small[type="button"] {
			padding: 0 8px 1px;
		}

		button:hover,
		button:focus,
		a.button:focus,
		a.button:hover,
		input[type="submit"]:focus,
		input[type="submit"]:hover,
		input[type="button"]:focus,
		input[type="button"]:hover,
		input[type="reset"]:focus,
		input[type="reset"]:hover,
		.button-nav li a:focus,
		.button-nav li a:hover,
		.button-nav li.current a,
		.generic-button a:focus,
		.generic-button a:hover,
		.comment-reply-link:focus,
		.comment-reply-link:hover {
			background: $buttons-background;
			border-color: darken($bp-border-dark, 20%);
			color: $black;
			outline: none;
			text-decoration: none;
		}

		input[type="submit"].pending,
		input[type="button"].pending,
		input[type="reset"].pending,
		input[type="button"].disabled,
		input[type="reset"].disabled,
		input[type="submit"][disabled="disabled"],
		button.pending,
		button.disabled,
		div.pending a,
		a.disabled {
			border-color: $bp-border-color;
			color: $light-text;
			cursor: default;
		}

		input[type="submit"]:hover.pending,
		input[type="button"]:hover.pending,
		input[type="reset"]:hover.pending,
		input[type="submit"]:hover.disabled,
		input[type="button"]:hover.disabled,
		input[type="reset"]:hover.disabled,
		button.pending:hover,
		button.disabled:hover,
		div.pending a:hover,
		a.disabled:hover {
			border-color: $bp-border-color;
			color: $light-text;
		}


		.activity-list {

			a.button {
				border: none;
			}
		}

		.bp-invites-content {

			ul.bp-list {

				li {

					a.invite-button:hover {
						color: #1fb3dd;
					}
				}

				li.selected,
				li {

					a.invite-button:hover,
					a.group-remove-invite-button:hover {
						color: #a00;
					}
				}

			}
		}

		#item-buttons:empty {
			display: none;
		}

		.text-links-list {

			a.button {
				background: none;
				border: none;
				border-right: 1px solid $bp-border-color;
				color: $text-link-visited;
				display: inline-block;
				padding: $pad-xsml $pad-med;

				&:visited {
					color: $text-link-visited;
				}

				&:focus,
				&:hover {
					color: $text-link-hover;
				}

			}

			a:first-child {
				padding-left: 0;
			}

			a:last-child {
				border-right: none;
			}
		}

		// In grids style the basic action button a little differently

		.bp-list.grid {

			.action {

				a,
				button {
					border: 1px solid $bp-border-dark;
					display: block;
					margin: 0;

					&:focus,
					&:hover {
						background: $buttons-background;
					}
				}
			} // .action
		}

	} // close .buddypress


} // close body class .buddypress @todo this should be removed in time

// ==== Icons ====

.buddypress {

	li.filter label:before,
	li.feed a:before,
	.action a,
	.bp-invites-filters  li a.invite-button:before,
	.bp-messages-filters li a.messages-button:before {
		font-family: dashicons;
		font-size: 18px;
	}

	.bp-invites-content .item-list li a.invite-button:before {
		@include responsive-font(32);
	}

	// If icons are required for anchors e.g '<a class="button"'
	// then we may have .button background hovers being inherited
	// Use this grouped selector ruleset to add elements that need
	// no change. As we need weight this is specific to bp-lists

	// This is probably a less than optimal solution & a better one will exist to
	// implemented when time allows.
	.bp-list {

		a.button.invite-button {

			&:focus,
			&:hover {
				background: none;
			}
		}
	}

	ul {

		li.filter label:before {
			content: "\f536";
		}

		li.feed a:before {
			content: "\f303";
		}
	} // close ul

	ul.item-list {

		li a.invite-button:not(.group-remove-invite-button):before {
			content: "\f502";
		}

		li.selected a.invite-button:before,
		li a.group-remove-invite-button:before {
			content: "\f153";
		}
	} // close ul.item-list

	.bp-invites-filters ul li a#bp-invites-next-page:before,
	.bp-messages-filters ul li a#bp-messages-next-page:before {
		content: "\f345";
	}

	.bp-invites-filters ul li a#bp-invites-prev-page:before,
	.bp-messages-filters ul li a#bp-messages-prev-page:before {
		content: "\f341";
	}

	.bp-messages-filters ul li a.messages-button.bulk-apply:before {
		content: "\f147";
		font-size: 18px;
	}
} // close .buddypress
