// BP Groups loop.

.buddypress {


	.groups-list { // ul
		li {

				.list-title {
					text-align: center;
				}

			.group-details {
				clear: left;
			}

			.item-desc {
				clear: left;
				color: $meta-text;
				font-style: italic;
			}

			p {
				margin: 0 0 .5em;
			}

			@include medium-up() {

				.list-title,
				.item-meta {
					text-align: left;
					width: auto;
				}

				.item-meta {
					margin-bottom: $marg-lrg;
				}

				.item-desc {
					border-left: 1px solid $light-grey;
					border-right: 1px solid $light-grey;
					clear: left;
					margin: $marg-med auto;
					padding: $pad-med $pad-sml;
					width: 90%;
				}

			} // close @media

		} // close li

	} // close .groups-list

}


