// BP activity comment entries in response to activity loop entries
.buddypress {
	.activity-comments {
		clear: both;
		margin: 0 5% 0 10%;
		overflow: hidden;
		position: relative;
		width: auto;

		ul {
			clear: both;
			list-style: none;
		//	margin: 0 0 0 5%;
			padding: 0;

			li {
				border-top: 1px solid $bp-border-color;
				border-bottom: 0;
				padding: $pad-med 0 0;
			}

			li:last-child {
				margin-bottom: 0;
			}
		} // close ul

		.acomment-avatar {
			img {
				border-width: 1px;
				float: left;
				height: 25px;
				width: 25px;
			}
		}

		.acomment-content {
			border-left: 1px solid $bp-border-dark;
			margin: $marg-med 0 0 10%;
			padding: $pad-med;

			p {
				@include font-size(14);
				margin-bottom: 0.5em;
			}
		}

		.acomment-options {
			float: left;
			margin: $marg-sml 0 $marg-sml $marg-lrg;

			a {
				color: $light-text;
				@include font-size(14);

				&:focus,
				&:hover {
					color: inherit;
				}
			}

		} // close .acomment-options

		.activity-meta {
			margin-top: $marg-sml;
			// if button element in use
			button {
				@include font-size(14);
				font-weight: normal;
				text-transform: none;
			}
		}

	} // close .activity-comments

	// Activity li.mini Comments

	.mini {

		.activity-comments {
			clear: both;
			margin-top: 0;
		}

	}

} // close .buddypress

@include small-up() {
	.buddypress {
		.activity-comments {
			ul {
				margin: 0 0 0 5% !important;
			}
		}
	}
}

// Single Activity Comment Entry View
body.activity-permalink {
	.activity-comments {
		background: none;
		width: auto;

		> ul {
			padding: 0 $pad-sml 0 $pad-med;
		}

		ul li > ul {
			margin-top: $marg-sml;
		}

	}

} //close .activity-permalink
