// BP primary & secondary navigation - directory and single screens

	// all devices
.bp-navs {
	background: transparent;
	clear: both;
	overflow: hidden;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
		}

		li.last {
			//margin: 7px 0 0;

			select {
				max-width: 185px;
			}
		}

		li {
			a,
			span {
				border: 0;
				display: block;
				padding: 5px 10px;
				text-decoration: none;
			}

			span {
				background: #eee;
				border: 1px solid #ccc;
				border-radius: 50%;
				color: #999;
				display: inline;
				font-size: 70%;
				margin-left: 2px;
				padding: 3px 6px;
				text-align: center;
				vertical-align: middle;
			}
		}

		// these selected/current should apply to all navs
		// if not pull out & move to end.
		li.selected,
		li.current {
			a {
				font-weight: bold;
				opacity: 0.8;
			}
		}

	} // close ul

	&.bp-invites-filters,
	&.bp-messages-filters {
		ul {
			li {
				a {
					border: 1px solid #ccc;
					display: inline-block;
				}
			}
		}
	}

} // close .bp-navs

.main-navs.dir-navs {
	margin-bottom: $marg-lrg;
}

// Primary, default current/selected states
.buddypress {

	.bp-navs {

		li.selected,
		li.current,
		li a:hover {
			a {
				span {
					background-color: $grey;
				}
			}
		}

		li:not(.current),
		li:not(.selected), {
			a:focus,
			a:hover {
				background: $grey;
			}
		}

		li.selected,
		li.current {
			a,
			a:focus,
			a:hover {
				background: $dark-grey;
				color: $off-white;
			}
		}

	}

	@include medium-up() {
		.main-navs:not(.dir-navs) {
			li.selected,
			li.current {
				a {
					background: none;
					color: $black;
					text-decoration: underline;
				}
			}
		}

		.main-navs.vertical {
			li.selected,
			li.current {
				a {text-decoration: none;}
			}
		}
	}

	.bp-subnavs {
		li.selected,
		li.current {
			a {
				background-color: $dark-grey;
				color: $off-white;
			}
		}

	}
}

// visual styling of default single navs - adds background to
// the parent elements if vertical nav not selected
.buddypress:not(.bp-vertical-nav) {
		.bp-navs:not(.dir-navs) {
				background: $light-grey;
		}

	.user-subnav#subsubnav,
	.group-subnav#subsubnav {
		background: none;
	}
}


// Specifically default subnav elements
.buddypress {

	.bp-subnavs,
	ul.subnav {
		width: 100%;
	}

	.bp-subnavs
	/*.bp-subnavs#subsubnav*/ {
		margin: $marg-sml 0 ;
		overflow: hidden;

		ul {
			li {
				margin-top: 0;
			}
		}
	}

	ul.subnav {
		width: auto;
	}

	.bp-navs.bp-invites-nav#subnav,
	.bp-navs.bp-invites-filters#subsubnav,
	.bp-navs.bp-messages-filters#subsubnav {
		ul {
			li.last {
				margin-top: 0;
			}
		}
	}

} // close .buddypress

.buddypress_object_nav,
.buddypress {
	.bp-navs {
		li.selected,
		li.current {
			a {
				span {
					background-color: $white;
				}
			}
		} // close li

		li.dynamic,
		li.dynamic.selected,
		li.dynamic.current {
			a {
				span {
					background-color: #1fb3dd;
					border: 0;
					color: #fff;
				}
			}
		}

		li.dynamic {
			a:hover {
				span {
					background-color: #1fb3dd;
					border: 0;
					color: #fff;
				}
			}
		} // li

		li {
			a {
				span:empty {
					display: none;
				}
			}
		}
	} // bp-navs
}

// Icons
.buddypress .bp-navs  li.filter label:before,
.buddypress .bp-navs  li.feed a:before,
.buddypress .bp-invites-content .item-list li a.invite-button:before,
.buddypress .bp-invites-filters  li a.invite-button:before,
.buddypress .bp-messages-filters li a.messages-button:before {
	font-family: dashicons;
	font-size: 18px;
}

.buddypress .bp-invites-content .item-list li a.invite-button:before {
	font-size: 32px;
}

.buddypress {

	.bp-navs {
		ul {

			li.filter label:before {
				content: "\f536";
			}

			li.feed a:before {
				content: "\f303";
			}
		} // close ul

		ul.item-list {

			li a.invite-button:not(.group-remove-invite-button):before {
				content: "\f502";
			}

			li.selected a.invite-button:before,
			li a.group-remove-invite-button:before {
				content: "\f153";
			}
		} // close ul.item-list

		.bp-invites-filters ul li a#bp-invites-next-page:before,
		.bp-messages-filters ul li a#bp-messages-next-page:before {
			content: "\f345";
		}

		.bp-invites-filters ul li a#bp-invites-prev-page:before,
		.bp-messages-filters ul li a#bp-messages-prev-page:before {
			content: "\f341";
		}

		.bp-messages-filters ul li a.messages-button.bulk-apply:before {
			content: "\f147";
			font-size: 18px;
		}
	} // close .bp-navs

	.bp-subnavs.bp-messages-filters ul li a.bulk-apply {
		border-left: 0;
		border-radius: none;
		font-weight: normal;
		line-height: inherit;
		margin: 0;
		padding: 2.5px 10px;
		text-align: center;
		text-transform: none;
		vertical-align: baseline;
		width: auto;
	}

	// position our nav elements at larger screen widths
	@include medium-up() {

		.bp-navs {
			li { // set the list links of all navs to shrinkwrap/width auto
				float: left;
			}
		}

		.subnav {
			float: left;
		}

		ul.subnav {
			width: auto;
		}

		// user screen last filter
		#subsubnav {

			.activity-search {
				float: left;
			}

			.filter {
				float: right;
			}
		}

	} // close @media

} // close .buddypress


// Just buddypress_object_nav rules
.buddypress_object_nav {
	.bp-navs {
		ul {
			// yes it's empty, I know that!
		}

		li {
			a {
				span {
					display: inline-block;
					float: right;
				}
			}
		}

	}
}

// Tabbed links

// Our tabbed links are pulled in via a mixin
// BP element must have 'tabbed-links' added and the ul 'button-tabs'
// medium screens up

.buddypress {
	#item-body {
		@include medium-up {

			// Profile group name links
			// Button navigation as tabbed effect for wide screen
			@include tabbed-links();

			#subnav.tabbed-links {
				background: none;
				margin-top: 2px;

				li#compose-personal-li {
					margin-top: 6px;
				}
			}

			.bp-navs.group-create-links.tabbed-links {
					background: none;

					ul {
						span {
							background: none;
							border: none;
							border-radius: none;
							@include font-size(19);
							padding: 5px 10px;
						}
					}
			}

			// For tabbed nav we remove any default button nav styles.
			ul.button-tabs {

				li {
					a {
						border-right: 0;
					}
				}

				li.last {
					float: right;
					margin: 0;

					a {
						margin-top: -1em;
					}
				}

				li,
				li.current {
					a,
					a:focus,
					a:hover {
						background: none;
						border: 0;
					}

					a:active {
						outline: none;
					}
				}
			}

		} // @media

	}
}
