// BP activity comment entries in response to activity loop entries
.buddypress {
	.activity-comments {
		clear: both;
		margin: 0 0 0 $marg-lrg;
		overflow: hidden;
		position: relative;
		width: auto;

		ul {
			clear: both;
			list-style: none;
			margin: 0;
			padding: 0 0 0 $pad-med;

			li {
				border-top: 1px solid $bp-border-color;
				border-bottom: 0;
				padding: $pad-med 0 0;
			}

			li:last-child {
				margin-bottom: 0;
			}
		} // close ul

		.acomment-avatar {
			img {
				border-width: 1px;
				float: left;
				height: 25px;
				margin-right: 10px;
				width: 25px;
			}
		}

		.acomment-meta {
			@include font-size(14);
		}

		.acomment-content {
			border-left: 1px solid $bp-border-dark;
			margin-top: $marg-med;
			padding: $pad-med;

			p {
				@include font-size(14);
				margin-bottom: 0.5em;
			}
		}

		.acomment-options {
			float: left;
			margin: $marg-sml 0 $marg-sml $marg-lrg;

			a {
				color: #999;
				@include font-size(14);

				&:focus,
				&:hover {
					color: inherit;
				}
			}

		} // close .acomment-options

	} // close .activity-comments



	// Activity li.mini Comments

	.mini {

		.activity-comments {
			clear: both;
			font-size: 120%;
			margin-top: 0;
		}

	}

} // close .buddypress

// Single Activity Comment Entry View
body.activity-permalink {
	.activity-comments {
		background: none;
		//margin-left: 170px;
		width: auto;

		> ul {
			padding: 0 $pad-sml 0 $pad-med;
		}

		ul li > ul {
			margin-top: $marg-sml;
		}

	}

} //close .activity-permalink
