// BP Whats new form handles user updates to groups or profiles

.item-body {
	.activity-update-form {
		.activity-form {
			margin: 0;
			padding: 0;
		}
	}
}

.activity-update-form {
	margin: $marg-med 0;

	.activity-form { // #whats-new-form

		// This ruleset may be redundent!
		p.activity-greeting {
			line-height: 0.5em;
			margin-bottom: $marg-med;
			margin-left: 75px;
		}

	}

	#whats-new-avatar {
		float: left;
		margin-right: $marg-sml;
	}

	// these ID's need replacing with this!
	//.content-wrap { // #whats-new-content

		#whats-new-content {
		margin-left: 55px;
		padding: 0 0 $marg-lrg $marg-lrg;
	}

	// these ID's need replacing with this!
	//.textarea-wrap { // #whats-new-textarea

	#whats-new-textarea {
		textarea {
			background: #fff;
			@include box-model();
			color: #333;
			font-family: inherit;
			font-size: medium;
			height: 2.2em;
			line-height: 1.4;
			padding: 6px;
			width: 100%;
		}

		// Do we want this?
		&:focus {
			border-color: rgba(31, 179, 221, 0.9);
			outline-color: rgba(31, 179, 221, 0.9);
		}
	}

	.post-to { //#whats-new-post-in-box

	}

	.submit-update { // #whats-new-submit

	}
}
