// BP Private Messages:
// messages lists, message single views, bulk actions

table#message-threads tr.unread td {
	background: #fff9db;
	border-bottom: 1px solid #ffe8c4;
	border-top: 1px solid #ffe8c4;
	font-weight: bold;
}

table#message-threads tr.unread td .thread-excerpt,
table#message-threads tr.unread td .activity,
table#message-threads tr.unread td.thread-options {
	font-weight: normal;
}

li span.unread-count,
tr.unread span.unread-count {
	background: #d00;
	color: #fff;
	font-weight: bold;
	padding: 2px 8px;
}

div.item-list-tabs ul li a span.unread-count {
	color: #fff;
	padding: 1px 6px;
}

div#message-thread div.message-box {
	margin: 0;
	padding: 15px;
}

div#message-thread div.alt {
	background: #f4f4f4;
}

div#message-thread p#message-recipients {
	margin: 10px 0 20px 0;
}

div#message-thread img.avatar {
	float: left;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

div#message-thread strong {
	font-size: 100%;
	margin: 0;
}

div#message-thread strong a {
	text-decoration: none;
}

div#message-thread strong span.activity {
	margin-top: 4px;
}

div#message-thread div.message-metadata {
	overflow: hidden;
}

div#message-thread div.message-content {
	margin-left: 45px;
}

div#message-thread div.message-options {
	text-align: right;
}

#message-threads img.avatar {
	max-width: none;
}

div.message-search {
	float: right;
	margin: 0 20px;
}

.message-metadata {
	position: relative;
}

.message-star-actions {
	position: absolute;
	right: 0;
	top: 0;
}

a.message-action-star,
a.message-action-unstar,
a.message-action-view,
a.message-action-delete {
	border-bottom: 0;
	outline: none;
	text-decoration: none;
}

a.message-action-star {
	opacity: 0.7;
}

a.message-action-star:hover {
	opacity: 1;
}

.message-action-star span.icon:before,
.message-action-star:before,
.message-action-unstar:before,
.message-action-unstar span.icon:before,
#buddypress div.item-list-tabs ul li#compose-personal-li a#compose:before,
.message-action-view:before,
.message-action-delete:before {
	font-family: dashicons;
	font-size: 18px;
}

.message-action-star span.icon:before,
.message-action-star:before {
	color: #aaa;
	content: "\f154";
}

.message-action-unstar span.icon:before,
.message-action-unstar:before {
	color: #fcdd77;
	content: "\f155";
}

.message-action-view:before {
	content: "\f473";
}

.message-action-delete:before {
	content: "\f153";
}

.message-action-delete:hover:before {
	color: #a00;
}

#buddypress div.item-list-tabs#subnav ul li#compose-personal-li.last {
	margin-top: 0;
}

#buddypress div.item-list-tabs ul li#compose-personal-li a#compose {
	border: 1px solid #ccc;
	display: inline-block;
}

#buddypress div.item-list-tabs ul li#compose-personal-li a#compose:before {
	content: "\f464";
}

#buddypress ul#message-threads {
	border-top: 1px solid #eaeaea;
	clear: both;
	list-style: none;
	margin: 0;
	max-height: 220px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	width: 100%;
}

#buddypress ul#message-threads li {
	border-bottom: 1px solid #eaeaea;
	margin: 0;
	padding: 5px 0;
}

#buddypress ul#message-threads li.selected {
	background-color: #eaeaea;
}

#buddypress div.item-list-tabs#subsubnav.bp-messages-filters .user-messages-bulk-actions {
	margin-right: 15px;
	max-width: 42.5%;
}

#buddypress ul#message-threads .thread-cb {
	float: left;
	text-align: center;
	width: 5%;
}

#buddypress .bp-messages-filters .user-messages-bulk-actions div.bulk-actions,
#buddypress .bp-messages-filters .user-messages-bulk-actions label {
	float: left;
}

#buddypress .bp-messages-filters .user-messages-bulk-actions .bulk-actions.bp-hide {
	display: none;
}

#buddypress .bp-messages-filters .user-messages-bulk-actions label {
	padding: 5px 0;
	text-align: center;
	width: 30px;
}

#buddypress .bp-messages-filters li.user-messages-bulk-actions div select {
	-webkit-appearance: textfield;
	border: 1px solid #ccc;
	color: #888;
	float: left;
	font: inherit;
	font-size: 90%;
	line-height: inherit;
	max-width: 80%;
	padding: 2.5px 10px;
}

#buddypress ul#message-threads li .thread-content {
	float: left;
	width: 95%;
}

#buddypress ul#message-threads li:not(.selected) .thread-content {
	cursor: s-resize;
}

#buddypress ul#message-threads .thread-content a,
#buddypress .bp-messages-content ul#bp-message-thread-list li a.user-link {
	border: 0;
	text-decoration: none;
}

#buddypress ul#message-threads .thread-content .thread-from,
#buddypress ul#message-threads .thread-content .thread-subject,
#buddypress ul#message-threads .thread-content .thread-date {
	float: left;
	height: 32px;
	overflow: hidden;
}

#buddypress ul#message-threads .unread .thread-content .thread-subject,
#buddypress ul#message-threads .unread .thread-content .thread-date {
	font-weight: bold;
}

#buddypress ul#message-threads .thread-content .thread-from {
	width: 35%;
}

#buddypress ul#message-threads .thread-content .thread-from img.avatar {
	float: left;
	margin: 0 10px 0 0;
}

#buddypress ul#message-threads .thread-content .thread-subject {
	width: 48%;
}

#buddypress ul#message-threads .thread-content .thread-date {
	padding-right: 5px;
	text-align: right;
	width: 17%;
}

#buddypress ul#message-threads  .thread-content .thread-date time,
#buddypress .bp-messages-content ul#bp-message-thread-list  time,
#buddypress ul#message-threads  .thread-content .thread-subject span.excerpt {
	color: #888;
	font-size: 80%;
}

#buddypress .bp-messages-content #thread-preview {
	border: 1px solid #eaeaea;
	margin-top: 0.5em;
}

#buddypress ul#message-threads:empty,
#buddypress .bp-messages-content #thread-preview:empty {
	display: none;
}

#buddypress .bp-messages-content #thread-preview h4:first-child,
#buddypress .bp-messages-content #bp-message-thread-header h4:first-child {
	background-color: #eaeaea;
	color: #555;
	margin: 0;
	padding: 0.5em;
}

#buddypress .bp-messages-content #thread-preview .preview-content {
	margin: 0.5em;
}

#buddypress .bp-messages-content ul.thread-participants {
	float: left;
	list-style: none;
	margin: 5px 0;
	overflow: hidden;
	width: 70%;
}

#buddypress .bp-messages-content ul.thread-participants li {
	float: left;
	margin-left: 5px;
}

#buddypress .bp-messages-content .actions {
	float: right;
	max-width: 30%;
}

#buddypress .bp-messages-content .actions a:before {
	font-size: 28px;
}

#buddypress .bp-messages-content .actions a {
	display: inline-block;
	margin: 0 5px;
}

#buddypress .bp-messages-content #thread-preview .preview-message,
#buddypress .bp-messages-content ul#bp-message-thread-list {
	border-top: 1px solid #eaeaea;
	overflow: hidden;
	padding: 5px;
	padding-top: 1em;
}

.bp-messages-content #thread-preview .preview-message ul,
.bp-messages-content #thread-preview .preview-message ol,
.bp-messages-content #thread-preview .preview-message blockquote,
.bp-messages-content ul#bp-message-thread-list li .message-content ul,
.bp-messages-content ul#bp-message-thread-list li .message-content ol,
.bp-messages-content ul#bp-message-thread-list li .message-content blockquote {
	list-style-position: inside;
	margin-left: 0;
}

.bp-messages-content ul#bp-message-thread-list li {
	border-bottom: 1px solid #eaeaea;
	list-style: none;
	overflow: hidden;
	padding: 15px 0 0;
}

.bp-messages-content ul#bp-message-thread-list li .message-content {
	margin-top: 1em;
}

.bp-messages-content ul#bp-message-thread-list li img.avatar {
	float: left;
	margin: 0 10px 0 0;
}

.bp-messages-content ul#bp-message-thread-list .actions a:before {
	font-size: 18px;
}
