// BP default/generic Table styles.
.buddypress {

	.bp-tables-user,
	table.wp-profile-fields,
	table.forum {
		width: 100%;
	}

	.bp-tables-user,
	table.wp-profile-fields,
	table.forum {

		thead {

			tr {
				background: $light-grey;
			}
		}
	}

	.bp-tables-user,
	table.wp-profile-fields,
	table.forum {

		tr {

			th,
			td {
				padding: $pad-sml;
				vertical-align: middle;
			}
		}
	}

	.bp-tables-user,
	table.wp-profile-fields,
	table.forum {

		tr {

			td.label {
				border-right: 1px solid $light-grey;
				font-weight: 700;
				width: 25%;
			}
		}
	}

	.bp-tables-user,
	table.wp-profile-fields, {

		tr.alt {

			td {
				background: $off-white;
			}
		}
	}


	table.profile-fields {

		.data {
			padding: 0 $pad-med;
		}

		tr:last-child {
			border-bottom: none;
		}
	}

	// Set various tables th/td cell sizes
	table.notifications {

		.bulk-select-all,
		.bulk-select-check {
			width: 7%;
		}

		.title,
		.notification-description,
		.date,
		.notification-since {
			width: 35%;
		}

		.actions,
		.notification-actions {
			width: 23%;
		}
	}

	table.notification-settings,
	table.profile-settings {

		th.title {
			width: 80%;
		}
	}
	// end cell sizings

	table.notifications {

		.notification-actions {

			a.delete,
			a.mark-read {
				display: inline-block;
			}
		}
	}

	table.notification-settings {
		margin-bottom: $marg-med;
		text-align: left;
	}

	#groups-notification-settings {
		margin-bottom: 0;
	}

	table.notifications,
	table.notification-settings {

		th.icon,
		td:first-child {
			display: none;
		}
	}

	table.notification-settings {

		.no,
		.yes {
			text-align: center;
			width: 40px;
			vertical-align: middle;
		}
	}

	table#message-threads {
		clear: both;

		.thread-info {
			min-width: 40%;

			p {
				margin: 0;
			}

			p.thread-excerpt {
				color: $form-text;
				@include font-size(12);
				margin-top: 3px;
			}
		}
	}

	table.profile-fields {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	table.profile-fields p {
		margin: 0;

		&:last-child {
			margin-top: 0;
		}
	}

} // close .buddypress

