// BP Directory Filters
// Specific Styling & Positioning
// N.B. Please see _bp_navigation for additional rules and properties.
.buddypress {

	.dir-component-filters { // ul

		.filter { // li

		}
	}

	// User account filters .subnav-filters

	.subnav-filters {
		background: none;
		overflow: hidden;
		list-style: none;
		margin: $marg-med 0;
		padding: 0;

		ul {
			margin-bottom: 0;
		}

		li {
			float: none;
			overflow: hidden;
			margin-bottom: $marg-med;

			select,
			input[type=search]	{
				@include font-size(16);
			}

			button.nouveau-search-submit {
				padding: 5px 0.8em 6px;
			}

			button#user_messages_search_submit {
				padding: 7px 0.8em;
			}
		}

		li.feed {
			margin-right: $marg-med;
		}

		.last.filter {
			select {
//				@include font-size(19)
				padding: 3px $marg-sml;
			}
		}

		.user-messages-bulk-actions {

			.bulk-apply {
				border-radius: none;
				font-weight: normal;
				line-height: 1.6;
				margin: 0 10px 0 ;
				padding: 6px 10px 4px;
				text-align: center;
				text-transform: none;
				vertical-align: baseline;
				width: auto;
			}
		}

		//position for wider screens
		@include medium-up() {

			li {
				margin-bottom: 0;
			}

			ul.subnav-search,
			li.feed,
			li.bp-search,
			.dir-search,
			.user-messages-bulk-actions,
			.user-messages-search,
			.group-invites-search {
				float: left;
			}

			.last,
			.dir-component-filters {
				float: right;
				width: auto;

				select {
					max-width: 250px;
				}
			}

		} // @media

	} // close .subnav-filters

} // close .buddypress
