// BP Single Screens Item Header General Styles.

.single-headers {

	span.activity {
		display: inline-block;
		font-size: small;
		opacity: 0.8;
		padding: 0;
	}

	span.user-nicename {
		color: #777;
		display: inline-block;
		font-size: 120%;
		font-weight: bold;
	}

	div#message,
	#sitewide-notice {
		p {
			background-color: #ffd;
			border: 1px solid #cb2;
			color: #440;
			font-weight: normal;
			margin-top: 3px;
			text-decoration: none;
		}
	}

	div#item-header-content {
		float: left;
		margin-left: 0;
	}

	h2 {
		line-height: 120%;
		margin: 0 0 $marg-xsml;

		a {
			color: #777;
			text-decoration: none;
		}

		span.highlight {
			display: inline-block;
			font-size: 60%;
			font-weight: normal;
			line-height: 170%;
			vertical-align: middle;


			span {
				background: #a1dcfa;
				color: #fff;
				cursor: pointer;
				font-size: 80%;
				font-weight: bold;
				margin-bottom: 2px;
				padding: 1px 4px;
				position: relative;
				right: -2px;
				top: -2px;
				vertical-align: middle;
			}

		}

	} // close h2

	img.avatar {
		float: left;
		margin: 0 15px 19px 0;
	}

	div#item-meta {
		color: #aaa;
		font-size: 80%;
		margin: 15px 0 5px 0;
		overflow: hidden;
		padding-bottom: 10px;
	}

	div#item-actions {
		float: right;
		margin: 0 0 15px 15px;
		text-align: right;
		width: 20%;

		h3 {
			margin: 0 0 5px 0;
		}

	}

	ul {
		margin-bottom: 15px;
		overflow: hidden;

		h5,
		span,
		hr {
			display: none;
		}

		li {
			float: right;
			list-style: none;
		}

	}

	ul.avatars img.avatar {
		height: 30px;
		margin: 2px;
		width: 30px;
	}

	div.generic-button,
	a.button {
		float: left;
		margin: 10px 10px 0 0;
	}

	// if these are list constructs
	li.generic-button {
		margin: 2px 10px;
	}

	li.generic-button:first-child {
		margin-left: 0;
	}

	div#message.info {
		line-height: 80%;
	}

} // close .single-headers

body.no-js  .single-item-header .js-self-profile-button {
	display: none;
}

