// BP Groups loop.

.buddypress {


	.groups-list { // ul
		li {

			.item-desc {
				color: $meta-text;
				font-style: italic;
			}

			@include medium-up() {

				.item-meta,
				.list-title {
					text-align: center;
					width: auto;
				}


				.item-desc {
					border-left: 1px solid $light-grey;
					border-right: 1px solid $light-grey;
					clear: left;
					margin: $marg-med auto;
					padding: $pad-med $pad-sml;
					width: 80%;
				}

			} // close @media

		} // close li

	} // close .groups-list

}


