// Provides any animation or transition type effects for BP elements

// Fade in hover transition
#buddypress {
	* {transition: opacity .1s ease-in-out .1s; }

	button,
	.bp-navs a,
	a.generic-button,
	input[type=submit],
	input[type=reset] {
		transition: background .1s ease-in-out .1s, color .1s ease-in-out .1s, border-color .1s ease-in-out .1s;
	}

}

// Historical animation sequence for ajax loading effects.
// Ajax Animations and styles
// scss-lint:disable VendorPrefix
.buddypress {
	a.loading,
	input.loading {
		-moz-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
		-webkit-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
		border-color: #aaa;
	}

	@-webkit-keyframes loader-pulsate {

		from {
			border-color: #aaa;
			-webkit-box-shadow: 0 0 6px #ccc;
			box-shadow: 0 0 6px #ccc;
		}

		to {
			border-color: #ccc;

			-webkit-box-shadow: 0 0 6px #f8f8f8;
			box-shadow: 0 0 6px #f8f8f8;
		}
	}
	@-moz-keyframes loader-pulsate {

		from {
			border-color: #aaa;
			-moz-box-shadow: 0 0 6px #ccc;
			box-shadow: 0 0 6px #ccc;
		}

		to {
			border-color: #ccc;
			-moz-box-shadow: 0 0 6px #f8f8f8;
			box-shadow: 0 0 6px #f8f8f8;
		}
	}

	a.loading:hover,
	input.loading:hover {
		color: #777;
	}

}
// scss-lint:enable VendorPrefix
