// BP Directory Search elements

.buddypress {

	[data-bp-search] {

		form {

			input[type="search"],
			input[type=text] {
				float: left;
				font-size: 90%;
				padding: 5px 10px;
				width: 65%;
			}

			button[type="submit"] {
				border-left: none;
				display: none;
				float: left;
				font-weight: normal;
				line-height: inherit;
				padding: 0.5em 0.8em;
				text-align: center;
				text-transform: none;
				width: auto;
			}

			input[type="search"]::-webkit-search-cancel-button {
				-webkit-appearance: searchfield-cancel-button;
			}

			input[type="search"]::-webkit-search-results-button,
			input[type="search"]::-webkit-search-results-decoration {
				display: none;
			}

			button[type="submit"] span { // why seperate add to above ruleset?
				background: none;
				border: none;
				font-family: dashicons;
				@include font-size(18);

			}

		} // close form

	} // close [data-bp-search]

	.current-member-type {
		font-style: italic;
	}

	.dir-form {
		clear: both;
	}

} // close .buddypress
