// BP Directory Filters
// Specific Styling & Positioning
// N.B. Please see _bp_navigation for additional rules and properties.
.buddypress {

	.dir-component-filters { // ul

		.filter { // li

		}
	}

	// User account filters .subnav-filters

	.subnav-filters {
		background: none;
		overflow: hidden;
		margin: $marg-med 0;
		padding: 0 $marg-xsml;

		ul {
			margin-bottom: 0;
		}

		li {
			float: none;
			overflow: hidden;
			margin-bottom: $marg-med;
		}

			.last.filter {
				select {
					@include font-size(16)
					padding: 3px $marg-sml;
				}
			}

		.user-subnav {
			.last.filter {
				select {
					@include font-size(16);
					padding: 3px $marg-sml;
				}
			}
		}

		//position for wider screens
		@include medium-up() {

			li {
				margin-bottom: 0;
			}

			ul.subnav-search,
			li.feed,
			li.bp-search,
			.dir-search {
				float: left;
			}

			.last,
			.dir-component-filters {
				float: right;
				width: auto;

				select {
					max-width: 250px;
				}
			}

		} // @media

	} // close .subnav-filters

} // close .buddypress
