//
// BuddyPress scss Variables
//

// This file provides colors, and any other values that benefit
// from a variable definition that can be managed and changed from one
// place for all instances of the property/value.

// Spacing values - used primarilly for main elements to allow us
// to adjust values in a grouped manner.
$margin-lrg: 40px;
$margin-med: 20px;
$margin-sm:  10px;
$margin-xsm:  5px;

$padding-lrg: 2em;
$padding-med: 1em;
$padding-sm:  0.5em;
