// ======= Visual Style Module =======
// TP: Nouveau
// Module: Activity stream entries


.buddypress {
	.activity-list.bp-list {

		background: $off-white;
		border: 1px solid $bp-border-color;
		padding: 10px;

		.activity-item {
			background: $white;
			border: 1px solid #ddd;
			@include box-shadow(0 0 6px #bebebe);
			margin: $marg-lrg 0;
		}

		li:first-child {
			margin-top: 0;
		}
	}

	@include medium-up() {
			.activity-list.bp-list {
				padding: 50px;
			}
	}

}
