// ======= Visual Style Module =======
// Theme: Nouveau

// This file provides just visual styles  backgrounds, colors etc specific
// to the current theme & are not critical to the primary layout & element styling.







.buddypress-wrap {

	// Navigation elements

	// Activity stream entries, comments & whats new form
	.activity-update-form {
		border: 1px solid $bp-border-dark;
		@include box-shadow( inset 0 0 6px #eee);
		padding: 10px;
	}

	.activity-list.bp-list {

		background: $off-white;
		border: 1px solid $bp-border-color;

		.activity-item {
			background: $white;
			border: 1px solid #b7b7b7;
			@include box-shadow(0 0 6px #d2d2d2);
			margin: $marg-lrg 0;
		}

		li:first-child {
			margin-top: 0;
		}
	}
}

