// ======= Visual Style Module =======
// TP: Nouveau
// Module: Activity stream entries, comments & whats new form


.buddypress {

	.activity-update-form {
		border: 1px solid $bp-border-dark;
		@include box-shadow( inset 0 0 6px #eee);
		padding: 10px;
	}

	.activity-list.bp-list {

		background: $off-white;
		border: 1px solid $bp-border-color;
		padding: 10px;

		.activity-item {
			background: $white;
			border: 1px solid #b7b7b7;
			@include box-shadow(0 0 6px #d2d2d2);
			margin: $marg-lrg 0;
		}

		li:first-child {
			margin-top: 0;
		}
	}

	@include medium-up() {
			.activity-list.bp-list {
				padding: 50px;
			}
	}

}
