//
//
// Buddypress scss primary scss stylesheet
//
//
// This file compiles to buddypress.css and provides the
// css structuring and imports the scss partials that
// style the various BP modules e.g Activity entry items
//

// Import our partials mixins & variables files
@import "../../shared/styles/_bp-variables";
@import "../../shared/styles/_bp-mixins";

//
// Sectional structuring allows us to locate elements
// & to keep a degree of clarity in mind as to BP
// components. Please note that sections do NOT have to
// be used,  modular styles imported may provide all the rules
// needed for the section.
//
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - BP Typography & Imagery

2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination

3.0 - BP Lists / Loops Generic
	3.1 - Activity Loop
		3.1.1 Whats New Activity
		3.1.2 - Activity Entries
		3.1.3 - Activity Comments
	3.2 - Blogs Loop
	3.3 - Groups Loop
	3.4 - Members Loop

4.0 - Directories - Members, Groups, Blogs, Register, activation

5.0 - Single Item screens: User Account & Single Group Screens
	5.1 - Item Headers: Global
		5.1.1 - item-header: Groups
		5.1.2 - item-header: User Accounts
	5.2 - Item Body: Global
		5.2.1 - item-body: Groups
			5.2.1.1 - Management settings screens
			5.2.1.2 - Group Members list
			5.2.1.3 - Group Invite list
		5.2.2 - item-body: User Accounts
			5.2.2.1 - classes, pag, filters
			5.2.2.2 - Extended Profiles
			5.2.2.3 - Groups
			5.2.2.4 - friends
			5.2.2.5 - Private Messaging Threads
			5.2.2.6 - Settings

6.0 - Forms  -  General
	6.1 - Dir Search

7.0 - Tables -  General

8.0 - Classes - Messages, Ajax, Widgets, Buttons

--------------------------------------------------------------*/

/**
*-------------------------------------------------------------------------------
* @section 1.0 - BP Typography & Imagery
*-------------------------------------------------------------------------------
*/


/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/



/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/

// Import our generic navigation styles
@import "../../shared/styles/_bp_navigation";

/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/

// Import our generic pagination styles
@import "../../shared/styles/_bp_pagination";

/**
*-------------------------------------------------------------------------------
* @section 3.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/

// Import our generic list styles
@import "../../shared/styles/_bp_lists";

/**
*----------------------------------------------------------
* @section 3.1 - Activity Loop
*----------------------------------------------------------
*/

/**
*-----------------------------------------------------
* @section 3.1.1 - Activity Whats New
*-----------------------------------------------------
*/

@import "../../shared/styles/_bp_update_form";

/**
*-----------------------------------------------------
* @section 3.1.2 - Activity Entries
*-----------------------------------------------------
*/

@import "../../shared/styles/_bp_activity_entries";

/**
*-----------------------------------------------------
* @section 3.1.3 - Activity Comments
*-----------------------------------------------------
*/

@import "../../shared/styles/_bp_activity_comments";

@import "../../shared/styles/_bp_comment_form";

/**
*----------------------------------------------------------
* @section 3.2 - Blogs Loop
*----------------------------------------------------------
*/

/**
*----------------------------------------------------------
* @section 3.2 - Groups Loop
*----------------------------------------------------------
*/

/**
*----------------------------------------------------------
* @section 3.2 - Members Loop
*----------------------------------------------------------
*/

/**
*-------------------------------------------------------------------------------
* @section 4.0 - Directories
*-------------------------------------------------------------------------------
*/

/**
*-------------------------------------------------------------------------------
* @section 5.0 - Single Item screens: Groups, Users
*-------------------------------------------------------------------------------
*/

/**
*-----------------------------------------------------------
* @subsection 5.1 - Item Header Global
*-----------------------------------------------------------
*/

// Import general global styles for single screen headers
@import "../../shared/styles/_bp_item_header_general";

// Import Cover Image container defaults
@import "../../shared/styles/_bp_cover_image";

/**
*-----------------------------------------------------
* @subsection 5.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/

/**
*-----------------------------------------------------
* @subsection 5.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/

/**
*-----------------------------------------------------------
* @subsection 5.2 - Item Body: Global
*-----------------------------------------------------------
*/

// Import general global styles for single screen item-body
@import "../../shared/styles/_bp_item_body_general";

/**
*----------------------------------------------------
* @subsection 5.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/

/**
*-----------------------------------------
* @subsection 5.2.1.1 - Management Settings Screens
*-----------------------------------------
*/
/**
*-----------------------------------------
* @subsection 5.2.1.2 - Group Members List
*-----------------------------------------
*/

/*
*-----------------------------------------
* @subsection 5.2.1.3 - Group Invites List
*-----------------------------------------
*/

/*
* bp-nouveau styling: invite members, sent invites
* */
.buddypress {
	.bp-invites-content {
		ul.item-list {

			li {
				border: 1px solid $light-grey;
				float: left;
				margin: 0.5%;
				padding-left: 5px;
				padding-right: 5px;
				width: 49%;

				.item-title {
					width: auto;
				}

//				.action {
//					position: inherit;
//					top: inherit;
//					right: inherit;
//				}
			} // close li

			li.selected {
				@include box-shadow(0 0 0 4px #1fb3dd);
			}

		} // close ul

		.item-list .item-meta span,
		.group-inviters li {
			color: #999;
			font-size: 80%;
		}

		.group-inviters {
			clear: both;

			li {
				border: 0;
				float: left;
				width: inherit;

			}
		} // close .group-inviters

		#send-invites-editor {
			overflow: hidden;

			textarea {
				width: 100%;
			}

			ul {
				clear: both;
				list-style: none;
				overflow: hidden;

				li {
					float: left;
					margin: 0.5%;
					max-height: 50px;
					max-width: 50px;

				}

				.action {
					float: right;
					margin-top: 1em;
				}

			} // ul

			ul {
				a {
					border: 0;
					display: inline-block;
					position: relative;
					text-decoration: none;
				}

				a:before {
					color: rgba(170, 0, 0, 0.7);
					content: "\f153";
					display: none;
					font-family: dashicons;
					font-size: 50px;
					left: 0;
					line-height: 50px;
					position: absolute;
					top: 0;
					vertical-align: top;
				}

			} // ul

		} // close #send-invites-editor

		#send-invites-editor.bp-hide {
			display: none;
		}

	} // close bp-invites-content

}

/* End nuoveau invites */

/**
*-----------------------------------------------------
* @subsection 5.2.2 - Item Body User Accounts
*
* User Account specific item body rules
*-----------------------------------------------------
*/

/**
*--------------------------------------------
* @subsection 5.2.2.1 - classes, pag, filters
*--------------------------------------------
*/

/**
	*-------------------------------------------
	* @subsection 5.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/

// Import User Profile
@import "../../shared/styles/_bp_user_profile";

/**
	*-------------------------------------------
	* @subsection 5.2.2.3 - Groups
	*-------------------------------------------
	*/

/**
	*-------------------------------------------
	* @subsection 5.2.2.5 - Private Messaging
	*-------------------------------------------
	*/

// Import Messages module
@import "../../shared/styles/_bp_messages";

/**
	*------------------------------------------
	* @subsection 5.2.2.6 - Settings
	*------------------------------------------
	*/


/**
*-------------------------------------------------------------------------------
* @section 6.0 - Forms  - General
*-------------------------------------------------------------------------------
*/

// Import general forms rules
@import "../../shared/styles/_bp_forms";


/**
*----------------------------------------------------------
* @section 6.1 - Directory Search
*
* The Search form & controls in directory pages
*----------------------------------------------------------
*/

// Import our generic list styles
@import "../../shared/styles/_bp_search";

/**
*-------------------------------------------------------------------------------
* @section 7.0 - Tables - General
*-------------------------------------------------------------------------------
*/

// Import Table defaults rules
@import "../../shared/styles/_bp_tables";

/**
*-------------------------------------------------------------------------------
* @section 8.0 - Classes - Messages, Ajax, Widgets, Buttons
*-------------------------------------------------------------------------------
*/
// Import General useful classes: clearfix, screen-reader etc
@import "../../shared/styles/_bp_general_classes";

// Import Buttons styles
@import "../../shared/styles/_bp_buttons";

// Import Messages/info dialogues
@import "../../shared/styles/_bp_info_messages";

// Import BP Widget styles
@import "../../shared/styles/_bp_widgets";

// Ajax Animations and styles
// scss-lint:disable VendorPrefix
.buddypress {
	a.loading,
	input.loading {
		-moz-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
		-webkit-animation: loader-pulsate 0.5s infinite ease-in-out alternate;
		border-color: #aaa;
	}

	@-webkit-keyframes loader-pulsate {

		from {
			border-color: #aaa;
			-webkit-box-shadow: 0 0 6px #ccc;
			box-shadow: 0 0 6px #ccc;
		}

		to {
			border-color: #ccc;

			-webkit-box-shadow: 0 0 6px #f8f8f8;
			box-shadow: 0 0 6px #f8f8f8;
		}
	}
	@-moz-keyframes loader-pulsate {

		from {
			border-color: #aaa;
			-moz-box-shadow: 0 0 6px #ccc;
			box-shadow: 0 0 6px #ccc;
		}

		to {
			border-color: #ccc;
			-moz-box-shadow: 0 0 6px #f8f8f8;
			box-shadow: 0 0 6px #f8f8f8;
		}
	}

	a.loading:hover,
	input.loading:hover {
		color: #777;
	}

}
// scss-lint:enable VendorPrefix
