//
//
// Buddypress scss primary scss stylesheet
//
//
// This file compiles to buddypress.css and provides the
// css structuring and imports the scss partials that
// style the various BP modules e.g Activity entry items
//

// Import our partials mixins & variables files
@import "../../shared/styles/_bp-variables";
@import "../../shared/styles/_bp-mixins";

//
// Sectional structuring allows us to locate elements
// & to keep a degree of clarity in mind as to BP
// components. Please note that sections do NOT have to
// be used,  modular styles imported may provide all the rules
// needed for the section.
//
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - BP Typography & Imagery

2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination

3.0 - BP Lists / Loops Generic
	3.1 - Activity Loop
		3.1.1 Whats New Activity
		3.1.2 - Activity Entries
		3.1.3 - Activity Comments
	3.2 - Members Loop
	3.3 - Groups Loop
	3.4 - Blogs Loop

4.0 - Directories - Members, Groups, Blogs, Register, activation

5.0 - Single Item screens: User Account & Single Group Screens
	5.1 - Item Headers: Global
		5.1.1 - item-header: Groups
		5.1.2 - item-header: User Accounts
	5.2 - Item Body: Global
		5.2.1 - item-body: Groups
			5.2.1.1 - Management settings screens
			5.2.1.2 - Group members list
		5.2.2 - item-body: User Accounts
			5.2.2.1 - classes, pag, filters
			5.2.2.2 - Extended Profiles
			5.2.2.3 - Groups
			5.2.2.4 - friends
			5.2.2.5 - Private Messaging Threads
			5.2.2.6 - Settings

6.0 - Forms  -  General
	6.1 - Dir Search

7.0 - Tables -  General

8.0 - Classes - Messages, Ajax, Widgets

--------------------------------------------------------------*/

/**
*-------------------------------------------------------------------------------
* @section 1.0 - BP Typography & Imagery
*-------------------------------------------------------------------------------
*/


/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/


/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/


/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/

// Import our generic pagination styles
@import "../../shared/styles/_bp_pagination";

/**
*-------------------------------------------------------------------------------
* @section 3.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/

// Import our generic list styles
@import "../../shared/styles/_bp_lists";

/**
*----------------------------------------------------------
* @section 3.1 - Activity Loop
*----------------------------------------------------------
*/

/**
*-----------------------------------------------------
* @section 3.1.1 - Activity Whats New
*-----------------------------------------------------
*/

@import "../../shared/styles/_bp_update_form";

/**
*-----------------------------------------------------
* @section 3.1.2 - Activity Entries
*-----------------------------------------------------
*/

@import "../../shared/styles/_bp_activity_entries";

/**
*-----------------------------------------------------
* @section 3.1.3 - Activity Comments
*-----------------------------------------------------
*/

@import "../../shared/styles/_bp_activity_comments";

@import "../../shared/styles/_bp_comment_form";

/**
*----------------------------------------------------------
* @section 4.2 - Blogs Loop
*----------------------------------------------------------
*/

/**
*----------------------------------------------------------
* @section 4.2 - Groups Loop
*----------------------------------------------------------
*/

/**
*----------------------------------------------------------
* @section 4.2 - Members Loop
*----------------------------------------------------------
*/

/**
*-------------------------------------------------------------------------------
* @section 4.0 - Directories
*-------------------------------------------------------------------------------
*/

/**
*-------------------------------------------------------------------------------
* @section 5.0 - Single Item screens: Groups, Users
*-------------------------------------------------------------------------------
*/

/**
*-----------------------------------------------------------
* @subsection 5.1 - Item Header Global
*-----------------------------------------------------------
*/

/**
*-----------------------------------------------------
* @subsection 5.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/

/**
*-----------------------------------------------------
* @subsection 5.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/

/**
*-----------------------------------------------------------
* @subsection 5.2 - Item Body: Global
*-----------------------------------------------------------
*/

/**
*----------------------------------------------------
* @subsection 5.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/

/**
*-----------------------------------------
* @subsection 5.2.1.1 - Group Management
*-----------------------------------------
*/
/**
*-----------------------------------------
* @subsection 5.2.1.2 - Group members
*-----------------------------------------
*/


/**
*-----------------------------------------------------
* @subsection 5.2.2 - Item Body User Accounts
*
* User Account specific item body rules
*-----------------------------------------------------
*/

/**
*--------------------------------------------
* @subsection 5.2.2.1 - classes, pag, filters
*--------------------------------------------
*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.3 - Groups
	*-------------------------------------------
	*/
/**
	*-------------------------------------------
	* @subsection 5.2.2.5 - Private Messaging
	*-------------------------------------------
	*/
/**
	*------------------------------------------
	* @subsection 5.2.2.6 - Settings
	*------------------------------------------
	*/


/**
*-------------------------------------------------------------------------------
* @section 6.0 - Forms  - General
*-------------------------------------------------------------------------------
*/

// Import general forms rules
@import "../../shared/styles/_bp_forms";


/**
*----------------------------------------------------------
* @section 6.1 - Directory Search
*
* The Search form & controls in directory pages
*----------------------------------------------------------
*/

// Import our generic list styles
@import "../../shared/styles/_bp_search";

/**
*-------------------------------------------------------------------------------
* @section 7.0 - Tables - General
*-------------------------------------------------------------------------------
*/

/**
*-------------------------------------------------------------------------------
* @section 8.0 - Classes - Messages, Ajax, Widgets
*-------------------------------------------------------------------------------
*/

// Import Messages/info dialogues
@import "../../shared/styles/_bp_info_messages";
